<div id="user-container">

{{ Form::start("user/change-password", false, 'login', array('class' => 'form-inline')) }}

	<div class="f-block">
		{{ Form::label('Old Password', 'oldPassword') }}
		<div class="field">
			{{ Form::password('oldPassword', '', array('class' => 'password')) }}
		</div>
	</div>
	
	<div class="f-block">
		{{ Form::label('New Password', 'newPassword') }}
		<div class="field">
			{{ Form::password('newPassword', '', array('class' => 'password')) }}
		</div>
	</div>

	<div class="f-block">
		{{ Form::label('Confirm Password', 'confPassword') }}
		<div class="field">
			{{ Form::password('confPassword', '', array('class' => 'password')) }}
		</div>
	</div>

	<div class="f-block f-btns">
		{{ Form::submit('submit', 'Change Password', array('id' => 'change-password', 'class' => 'btn btn-red')) }}
	</div>

{{ Form::end() }}

</div>