<!DOCTYPE HTML>
<html lang="en-US">
<head>

	<!-- Metadata Area -->
	{{ include:metadata }}

</head>
<body>

	<div class="wrapper black-bg" id="header">
		<div class="container clearfix">
			<h1 id="logo">
				<a href="{{ rbUrl() }}">{{ setting('site_title') }}</a>
			</h1>
			<nav>
				{{ nav:header }}
			</nav>
		</div> <!-- end of .container -->
	</div> <!-- end of #header -->

	<div class="wrapper clearfix" id="main-content">
		<div class="container">
			{{ flash() }}

			<div id="breadcrumb">
				{{ breadcrumb }}
			</div>

			<div id="content">

				{{ $layoutBody }}

			</div> <!-- end of #content -->

			<div id="sidebar" class="black-theme">

				{{ include:sidebar }}

			</div> <!-- end of #sidebar -->

		</div> <!-- end of .container -->
	</div> <!-- end of #main-content -->

	<div class="wrapper" id="footer">
		{{ include:footer }}
	</div> <!-- end of #footer -->

	{{ $footerScript }}

	{{ $footerScriptInline }}

</body>
</html>
