	<div id="m_btns_bar">
		<div class="btns-group" id="m_btns_wrap">
			<a href="{{ adminUrl('media/rbCK/') }}" id='choose_media' class="btn-ico-text btn-dark">
				<i class="icon-img"></i>Media
			</a> <!-- end of choose_media -->
			<a href="{{ adminUrl('media/upload/0/files/ck/') }}" id='mck_upload' class="btn-ico-text btn-dark">
				<i class="icon-upload"></i>Upload
			</a> <!-- end of m_ck_upload -->
			<a href="{{ adminUrl('media/ckLink/') }}" id='m_ck_link' class="btn-ico-text btn-dark">
				<i class="icon-link"></i>Link
			</a> <!-- end of m_ck_link -->
		</div> <!-- end of btns-group -->

		
	</div> <!-- end of m_btns_bar -->