{{ $header }}

<div id="m_ck_wrap" class="overflow">

	{{ $btnsBar }}

	<div id="m_ajax_wrapper">
		<div id="m_chooser_area">
			{{ Form::label('Folder', 'folder_id') }}
			{= $current = (isset($current)) ? $current : 0 =}
			<select name="folder_id" id="folder_id">
				<option value="0">{{ \Translate::get('media::media.none') }}</option>
				{{ Media\Lib\Helper::folderTree($allFolders, 0, 0, $current) }}
	        </select>

	        {{ Form::label('Float', 'float') }}
	        {= $float = array('left' => 'Left', 'right' => 'Right', 'auto' => 'None') =}
	        {{ Form::select('float', $float, 'auto', array('id' => 'float')) }}

	        <div id="m_preview_area" class="overflow"  style="display: none;">
	        	<div id="m_img_preview">

	        	</div> <!-- end of m_img_preview -->
	        	<p id="m_preview_name"></p>
	        	{{ Form::label('Dimension') }}
	        	{{ Form::input('width') }}
	        	{{ Form::input('height') }}
	        	<div class="clear"></div>
	        	{{ Form::hidden('fileId') }}
	        	<button id="insert" class="button button-green">Insert</button>
	        </div> <!-- end of m_preview_area -->

		</div> <!-- end of m_chooser_area -->

		<div id="m_main_area">
			<ul id="m_ck_imgs">
				{{ loop($images as $img) }}
				<li>
					<div class="m_img_wrap overflow">
						<img src="{{rbUrl('media/thumb/'.$img->id.'/70/')}}" alt="{{$img->alt_text}}" onclick="javascript:imgPreview({{$img->id}}, '{{$img->name}}', {{$img->width}}, {{$img->height}});">
					</div> <!-- end of m_img_wrap -->
				</li>
				{{ endloop }}
			</ul> <!-- end of m_ck_img -->
		</div> <!-- end of m_main_area -->
	</div> <!-- end of m_ajax_wrapper -->
</div> <!-- end of m_ck_wrap -->

{{ if (isset($footer)) }} {{ $footer }} {{ endif }}