<div id="featured_container">
	{{ css('chosen.css', 'all', 'media') }}

	{{ if ($ajax) }}
		{{ css('style.css', 'all', 'media') }}
	{{ endif }}

	{{ js('chosen.jquery.min.js', 'media') }}
	{{ js('featureImg.js', 'media') }}
	<div id="tabs" class="tabs-bottom">

		<ul id="m_tab_head" class="clearfix">
			<li><a id="m_tab_media" href="#tab_media" m-data-url="{{ adminUrl('media/feature-image/') }}">Media</a></li>
			<li><a id="m_calling_upload" href="{{ adminUrl('media/upload/') }}">Upload</a></li>
		</ul>

		<div id="tab_media" class="m_tab_body clearfix">
			<div id="m_options_pane" class="f-left">
				<div id="m_folder_chooser" class="m_option">
					{{ Form::label(Translate::get('media::media.choFol'), 'folder_id') }}
					<div class="m_input_wrap">
						{= $current = (isset($current)) ? $current : 0 =}
						<select name="folder_id" id="folder_id" style="width: 100%;">
							<option value="0">{{ \Translate::get('media::media.none') }}</option>
							{{ Media\Lib\Helper::folderTree($allFolders, 0, 0, $current, '&nbsp;&raquo;') }}
				        </select>
				    </div> <!-- end of m_input_wrap -->
			    </div> <!-- end of m_folder_chooser -->

			    <div id="m_dimension_area" class="m_option">
			    	{{ Form::label(Translate::get('media::file.lbl.dimension')) }}
			    	<div class="m_input_wrap clearfix">
			        	{{ Form::input('width', '', 'text', array('placeholder' => 'width', 'class' => 'f-left')) }}
			        	{{ Form::input('height', '', 'text', array('placeholder' => 'height', 'class' => 'f-left')) }}
			        </div> <!-- end of m_input_wrap -->
			    </div> <!-- end of m_dimension_area -->

			    <div id="m_align_area" class="m_option">
			    	{{ Form::label(Translate::get('media::file.lbl.align'), 'float') }}
			    	<div class="m_input_wrap">
				        {= $float = array('left' => 'Left', 'right' => 'Right', 'auto' => 'None') =}
				        {{ Form::select('float', $float, 'auto', array('id' => 'float')) }}
				    </div> <!-- end of m_input_wrap -->
			    </div> <!-- end of m_align_area -->

			    <div id="m_altText_area" class="m_option">
			    	{{ Form::label(Translate::get('media::file.lbl.altText'), 'alt_text') }}
			    	<div class="m_input_wrap">
			    		{{ Form::input('alt_text') }}
			    	</div> <!-- end of m_input_wrap -->
				</div> <!-- end of m_altText_area -->

			    <div id="m_preview_area" class="m_option" style="display: none;">
			    	<div id="img_set_preview">

			    	</div> <!-- end of m_img_preview -->
			    	<div id="m_btn_area" class="m_option">

				    </div> <!-- end of m_btn_area -->

				    <div id="button_wrap">
						<button onclick="javascript:insert();" class="button button-green">Insert Image</button>
					</div>
			    </div> <!-- end of m_preview_area -->



			</div> <!-- end of m_option_pane -->

			<div id="media_body" class="f-left">
				<div id="ajax_wrap">

						{{ loop($images as $file) }}
						<div class="m_images">
							<div class="m_img_wrap overflow">

								<img src="{{rbUrl('media/thumb/'.$file->id.'/70/')}}" alt="{{$file->alt_text}}" onclick="javascript:imgPreview({{$file->id}}, '{{$file->name}}', '{{$file->alt_text}}', {{$file->width}}, {{$file->height}});">

							</div> <!-- end of m_img_wrap -->
						</div>
						{{ endloop }}

				</div> <!-- end of ajax_wrap -->

			</div> <!-- end of main_body -->
		</div> <!-- end of tab_media -->

	</div> <!-- end of tabs -->
</div> <!-- end of featured_container -->