<div class="media_wrap">

	<table id="m_table">
		<tr>
			<td>{{ Translate::get('m.lbl.link') }}</td>
			<td> : {{ rbUrl('media/thumb/'.$fileData->id.'/') }}</td>
		</tr>
		<tr>
			<td>{{ Translate::get('m.lbl.fileName') }}</td>
			<td> : {{ $fileData->name }}</td>
		</tr>
		<tr>
			<td>{{ Translate::get('m.lbl.altText') }}</td>
			<td> : {{ $fileData->alt_text }}</td>
		</tr>
		<tr>
			<td>{{ Translate::get('m.lbl.desc') }}</td>
			<td> : {{ $fileData->description }}</td>
		</tr>
		<tr>
			<td>{{ Translate::get('m.lbl.folderName') }}</td>
			{{ if(!isset($fileData->folder)) }}
				<td> : --{{ Translate::get('m.lbl.none') }}--</td>
			{{ else }}
				<td> : {{ $fileData->folder->name }}</td>
			{{ endif }}

		</tr>
		<!-- <tr>
			<td>{{ Translate::get('media::file.lbl.uploader') }}</td>
			<td>{{ Translate::get('media::file.lbl.uploader') }}</td>
			<td> : {{ $fileData->user->first_name }}&nbsp;{{ $fileData->user->last_name }} </td>
		</tr> -->
		<tr>
			<td>{{ Translate::get('m.lbl.type') }}</td>
			<td> : {{ $fileData->mime_type }}</td>
		</tr>
		<tr>
			<td>{{ Translate::get('m.lbl.size') }}</td>
			<td> : {{ $fileData->filesize }}</td>
		</tr>
		<tr>
			<td>{{ Translate::get('m.lbl.width') }}</td>
			<td> : {{ $fileData->width }}</td>
		</tr>
		<tr>
			<td>{{ Translate::get('m.lbl.height') }}</td>
			<td> : {{ $fileData->height }}</td>
		</tr>
	</table>

</div> <!-- end of media_wrap -->