{{ if (isset($header)) }}
	{{ $header }}
{{ endif }}

<div class="media_wrap" id="{{ (isset($folder_id)) ? $folder_id : 0 }}">

	{{ if (isset($btnsBar)) }} {{ $btnsBar }} {{ endif }}

	{{ Form::hidden('maxUploadableSize', $maxUploadableSize) }}

	{{ js('plugins/blueimp/tmpl.min.js') }}
	{{ js('plugins/blueimp/jquery.ui.widget.js') }}
	{{ js('plugins/blueimp/jquery.fileupload.js') }}
	{{ js('media.js', 'media') }}

	{{ Form::start('admin/media/upload/' . $folder_id, 'fileUpload', true, array('class' => 'form')) }}

		<div id="upload_field_wrap" class='relative overflow'>
			<p>Click or Drag Files Here to Upload.</p>
			{{ Form::input('files[]', '', 'file', array('id' => 'fileupload', 'class' => 'absolute', 'multiple' => '')) }}
		</div> <!-- end of upload_field_wrap -->

		{{ Form::hidden('uniqueName', '') }}

	{{ Form::end() }}

	<ul id="m_uploaded">

	</ul> <!-- end of m_uploaded -->

	<script type="text/javascript">
		$(function(){
			'use strict';

			var uniqueName = '';

			$('#fileupload').fileupload({
				dataType: 'json',
				sequentialUploads: true,
				/*maxChunkSize: $('#maxUploadableSize').val() - 20,*/
				submit: function(e, data) {
					var a = $('#maxUploadableSize').val();
					var b = data.files[0].size;

					data.uniqueName = Media.nameGenerate(10);
					var adder = '';

					if (a < b) {
						adder = "<li class='m_uploaded_files' id='"+data.uniqueName+"'><div class='m_uploaded_header overflow'><h3 class='f-left'>"
									+ data.files[0].name +
									"</h3><div class='progress_wrap' class='f-left'><p style='color : red;'>This file is larger than maximum uploadable size which is defined in php.ini.</p></div>";
					} else {
						adder = "<li class='m_uploaded_files' id='"+data.uniqueName+"'><div class='m_uploaded_header overflow'><h3 class='f-left'>"
									+ data.files[0].name +
									"</h3><div class='progress_wrap' class='f-left'><div class='m_progress fade' style='display: none;'><div class='m_bar' style='width: 10%;'></div></div></div>";
					}
					$('#m_uploaded').append(adder);
				},
				progress: function(e, data) {
					$('li#'+data.uniqueName).find('div.m_progress').show();
					var progress = parseInt(data.loaded / data.total * 100, 10);
					$('.m_progress .m_bar').css(
						'width',
						progress + '%'
					);
				},
				done: function (e, data) {
					if (! data.result.success) {
						$('li#'+data.uniqueName).find('div.m_progress').hide();
						$('li#'+data.uniqueName+' h3').css({ 'color' : 'red' });
						var err = "<div class='m_upload_error'>[ "+data.result.error[0][0]+" ]</div>";
						$('li#'+data.uniqueName+' div.progress_wrap').replaceWith(err);
					} else {
						var btn = "<a href='javascript:void(0);' class='m_edit_btn btn btn-orange f-right'>Edit</a></div></li>";

						$('li#'+data.uniqueName+' div.m_uploaded_header').append(btn);
						$('li#'+data.uniqueName+' div.m_progress').hide();
						$('li#'+data.uniqueName+' div.m_uploaded_header').prepend("<div style='overflow: hidden; max-height: 32px; max-width: 50px; float: left; margin-right: 10px'><img src='"+SITEURL+"media/thumb/"+data.result.id+"/50'></div>");

						// Solve the conflic of reborn parser and tmpl
						tmpl.regexp = /([\s'\\])(?![^%]*%\})|(?:\[%(=|#)([\s\S]+?)%\])|(\[%)|(%\])/g;

						var myResult = data.result;
						myResult.folder_id = parseInt(myResult.folder_id);

						myResult.uniqueName = data.uniqueName;
						var result = tmpl('template_upload', myResult);
						var sdf = "li#" + data.uniqueName + ' select.folder_id';

						$('li#'+data.uniqueName).append(result);
						$(sdf + ' option').each(function(index){
							if ($(this).attr('value') == myResult.folder_id) {$(this).attr('selected', 'selected');}
						});
					}
				}
			});

			$('a.m_edit_btn').livequery('click', function(e){
				e.preventDefault();
				if($(this).hasClass('now_showing')){
					$(this).removeClass('now_showing');
					$(this).text('Edit');
					$(this).parent().parent().find('.m_edit_form').hide('fast');
				}else{
					$('.m_edit_btn').text('Edit');
					$(this).addClass('now_showing');
					$(this).text('Collapse');
					$('div.m_edit_form').hide('fast');
					$(this).parent().parent().find('.m_edit_form').show('fast');
				}
			});
		});
	</script>

<form action=""></form>

<script id="template_upload" type="text/x-tmpl">


<div class="m_edit_form" style="display:none;">

	<div class="m_ajax_error"></div>

	<form action="{{ rbUrl('admin/media/editFile/') }}[%= o.id%]" class="form" name="fileEdit">
	<input type="hidden" name="id" value="[%= o.id%]">

		<div class="form-block">
			{{ Form::label(Translate::get('media::file.lbl.name'), 'name') }}
			<div class="form-right-block">
				<input type="text" name="name" class="name medium rounded-corner required" value="[%= o.name%]">
				<span class="msg error" style="display: none;">
					{{ Translate::get('media::media.require') }}
				</span>
				<p>{{ Translate::get('media::folder.info.nameInfo') }}</p>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form-block -->

		<div class="form-block">
			{{ Form::label(Translate::get('media::file.lbl.altText'), 'alt_text') }}
			<div class="form-right-block">
				<input type="text" name="alt_text" class="alt_text medium rounded-corner required" value="[%= o.alt_text%]">
				<span class="msg error" style="display: none;">
					{{ Translate::get('media::media.require') }}
				</span>
				<p>{{ Translate::get('media::folder.info.altInfo') }}</p>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form-block -->

		<div class="form-block">
			{{ Form::label(Translate::get('media::media.desc'), 'description') }}
			<div class="form-right-block">
				{{ Form::textarea('description', '', array('class' => 'description')) }}
				<p>{{ Translate::get('media::file.info.descInfo') }}</p>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form-block -->

		<div class="form-block">
			{{ Form::label(Translate::get('media::media.choFol'), 'folder_id') }}
			<div class="form-right-block">

				<select name="folder_id" class="folder_id medium required" id="folder_id">
					<option value="0">{{ \Translate::get('media::media.none') }}</option>

					{= Media\Lib\Helper::folderTree($allFolders, 0, 0, 0) =}
	            </select>
	            <span class="msg error" style="display: none;">
					{{ Translate::get('media::media.msg.warning.required') }}
				</span>
	            <p>Choose folder</p>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form-block -->

		<div class="form-block form-action">
			<input type="submit" value="Update" class="button button-green file_ajax_submit" uniqueName=[%= o.uniqueName%]>
			<span class="loading" style="display: none;"></span>
		</div> <!-- end of form-aciton -->

	</form> <!-- end of form -->

</div> <!-- end of m_edit_form -->

</script>

</div> <!-- end of media_wrap -->

{{ if (isset($footer)) }} {{ $footer }} {{ endif }}