<div id="module-wrap" class="clearfix">

	{{ loop($plugged as $k => $m) }}
	<div class="module-block {{ $m['module_class'] }} clearfix">
		<div class="module-title">
			{{ $m['name'] }} <span>[ Version {{ $m['version'] }} ]</span>
		</div>
		<div class="module-actions clearfix">
			<div class="mod-actions-box left-box">
				{{ if($m['enabled']) }}
				<a href="{{ adminUrl('module/disable/'.$m['name'].'/'.$m['uri']) }}"
				class="tipsy-tip"
				title="{{ t('module::module.btn_label_disable') }}">
					<i class="icon-refresh icon-white"></i>
					Disable
				</a>
				{{ else }}
				<a href="{{ adminUrl('module/enable/'.$m['name'].'/'.$m['uri']) }}"
				class="tipsy-tip"
				title="{{ t('module::module.btn_label_enable') }}">
					<i class="icon-refresh icon-white"></i>
					Enable
				</a>
				{{ endif }}
			</div> <!-- END of .mod-actions-box.left-box -->

			<div class="mod-actions-box right-box">
				{{ if($m['upgradeRequire']) }}
				<a href="{{ adminUrl('module/upgrade/'.$m['name'].'/'.$m['uri']) }}"
				class="tipsy-tip"
				title="{{ t('module::module.btn_label_upgrade') }}">
					<i class="icon-cloudup icon-white"></i>
				</a>
				{{ endif }}

				<a href="{{ adminUrl('module/uninstall/'.$m['name'].'/'.$m['uri']) }}"
				class="tipsy-tip"
				title="{{ t('module::module.btn_label_uninstall') }}">
					<i class="icon-close icon-white"></i>
				</a>

				{{ ifnot($m['isCore']) }}
				<a href="{{ adminUrl('module/delete/'.$m['name'].'/'.$m['uri']) }}"
				class="tipsy-tip"
				title="{{ t('module::module.btn_label_delete') }}">
					<i class="icon-remove icon-white"></i>
				</a>
				{{ else }}
					<i class="icon-remove icon-gray icon-disable tipsy-tip" title="{{ t('module::module.btn_label_delete_disable') }}"></i>
				{{ endif }}
			</div> <!-- END of .mod-actions-box.right-box -->

		</div> <!-- END of .module-actions -->
	</div> <!-- END of .module-block -->
	{{ endloop }}

</div> <!-- END of #module-warp -->
