<div class="modules-wrap clearfix">

	<div class="switchs clearfix">
	{{ if(! empty($plugged) ) }}
		{{ loop( $plugged as $k => $m ) }}
		{= $slug = $m['name'].'/'.$m['uri'] =}

		{{ if($m['enabled']) }}
		{= $class = "mod-on" =}
		{= $status = 'enable' =}
		{{ else }}
		{= $class = "mod-off" =}
		{= $status = 'disable' =}
		{{ endif }}

		<div class="sw-mod">
			<h4 class="{{ $class }}">{{ $m['name'] }} <span>V [ {{ $m['version'] }} ]</span></h4>
			<div class="mod-body clearfix">
				<div class="mod-desc">
					{{ ifset($m['description'][$lang]) }}
					{{ $m['description'][$lang] }}
					{{ else }}
					{{ $m['description']['en'] }}
					{{ endif }}
				</div> <!-- end of div.mod-desc -->
				<div class="mod-body-left">
					<div class="mod-author">
						{{ sprintf(t('module::module.mod_author'), $m['author']) }}
					</div> <!-- end of div.mod-author -->
					<div class="mod-url">
						{{ sprintf(t('module::module.mod_website'), $m['authorUrl'], $m['authorUrl']) }}
					</div> <!-- end of div.mod-url -->
				</div> <!-- end of div.mod-body-left -->
				<div class="mod-body-right">
					<p>{{ t('module::module.'.$status) }}</p>
					<p>{{ t('module::module.click_to_change') }}</p>

					{{ if($m['enabled']) }}
					<a href="{{ adminUrl("module/disable/$slug") }}"
					class="btn btn-orange tipsy-tip" title="{{ t('module::module.btn_label_disable') }}">
						<i class="icon-refresh icon-white"></i>
						Disable
					</a>
					{{ else }}
					<a href="{{ adminUrl("module/enable/$slug") }}"
					class="btn btn-green tipsy-tip" title="{{ t('module::module.btn_label_enable') }}">
						<i class="icon-refresh icon-white"></i>
						Enable
					</a>
					{{ endif }}
				</div> <!-- end of div.mod-body-right -->
			</div> <!-- end of div.mod-body -->

			<div class="mod-actions clearfix">
				{{ if($m['upgradeRequire']) }}
				<a href="{{ adminUrl("module/upgrade/$slug") }}"
				class="btn btn-blue tipsy-tip" title="{{ t('module::module.btn_label_upgrade') }}">
					<i class="icon-cloudup icon-white"></i>
				</a>
				{{ endif }}

				<a href="{{ adminUrl("module/uninstall/$slug") }}" class="btn btn-orange tipsy-tip" title="{{ t('module::module.btn_label_uninstall') }}">
					<i class="icon-close icon-white"></i>
				</a>

				{{ ifnot($m['isCore']) }}
				<a href="{{ adminUrl("module/delete/$slug") }}"
				class="btn btn-red tipsy-tip" title="{{ t('module::module.btn_label_delete') }}">
					<i class="icon-remove icon-white"></i>
				</a>
				{{ endif }}

			</div> <!-- end of div.mod-actions -->

		</div> <!-- end of div.sw-mod -->
		{{ endloop }}
	{{ endif }}
	</div> <!-- end of div.switchs -->

</div> <!-- end of div.modules-wrap -->
