<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>404 | {{ setting('site_title') }}</title>
	<meta name="description" content="Reborn is a composer based Content Management System with PHP 5.3, used Modular system and MVC Design." />
	<meta name="keywords" content="cms, content management system, reborn" />
	<meta name="author" content="RebornCMS Developement Team" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ assetPath('img') }}favicon.ico">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>	
	{{ css('reset.css') }}
	{{ css('style.css') }}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	{{ js('modernizr.custom.js') }}
	{{ js('application.js') }}

</head>
<body>

	{{ include:header }}

	<div id="main">
		<div class="container clearfix">

			<div id="content">
				<h2>404 Not Found.</h2>
				<p>We cannot find what you like to know in this site. Please click <a href="{{ rbUrl() }}">Here</a> to go back to home page. </p>
			</div>

			<div class="sidebar">
				{{ widgetArea:sidebar }}
			</div>

		</div>
	</div>

	{{ include:footer }}

</body>
</html>