<div id="main-media-wrapper" data-folder-id="{{ (isset($current)) ? $current->id : 0 }}">

{= $f = \Media\Lib\Plugins::getFilesByFolderId(0, true); =}

	{{ ifset ($actionBar) }}
		{{ $actionBar }}
	{{ endif }}

	<div class="ff-mix-container clearfix p-relative">

		<div id="folder-wrapper" class='clearfix'>

			{{ if (isset($folders) and !$folders->isEmpty()) }}

				{{ loop ($folders as $folder) }}

				<div class="ff-wrapper droppable f-left folder" id="folder_{{ $folder->id }}" data-id='{{ $folder->id }}'>

				{= $parent = (is_null($folder->folder)) ? t('m.lbl.none') : $folder->folder->name =}

					<div class="ff-actions p-relative">
						<div class="btns-group p-absolute">
							<a href="#folder-detail" class="action-detail btn btn-ico btn-dark" title="detail"  data-target='folder' data-name='{{ $folder->name }}' data-desc='{{ $folder->description }}' data-folder='{{ $parent }}' data-user='{{ $folder->user->first_name }} {{ $folder->user->last_name }}'>
								<i class="icon-view"></i>
							</a>
							<a class="action-option btn btn-ico btn-dark" title="options"><i class="icon-arrow-down"></i></a>
						</div> <!-- end of btns-group -->

						<ul class="options p-absolute">
							<li><a class='action_edits' href="{{ admin_url('media/folder/update/'.$folder->id) }}">Edit</a></li>
							<li><a href="#">Move</a></li>
							<li><a class='confirm_delete' href="{{ admin_url('media/folder/delete/'.$folder->id) }}">Delete</a></li>
						</ul> <!-- end of options -->
					</div> <!-- end of ff-actions -->

					<div class="thumb-body" data-target="folder">

						<div data-id="{{ $folder->id }}" class="thumbs folder-thumb" title="{{ $folder->name }}"></div> <!-- end of folder-thumb -->			

					</div> <!-- end of thumb-body -->

					<div class="ff-name"><p>{{ $folder->name }}</p></div> <!-- end of ff-name -->
				</div> <!-- end of ff-wrapper -->

				{{ endloop }}

			{{ endif }}

		</div> <!-- end of folder-wrapper -->

		<div id="file-wrapper" class='clearfix'>

			{{ if (isset($files) and !is_null($files) and !$files->isEmpty()) }}

				{{ loop ($files as $file) }}

				<div class="ff-wrapper draggable f-left file" id="file_{{ $file->id }}" data-id='{{ $file->id }}'>

					{= $parent = (is_null($file->folder)) ? t('m.lbl.none') : $file->folder->name =}

					<div class="ff-actions p-relative">
						<div class="btns-group p-absolute">
							<a href="#file-detail" class="action-detail btn btn-ico btn-dark" title="detail"  data-target='file' data-link="{{ image_url($file->filename) }}" data-name='{{ $file->name }}' data-alt='{{ $file->alt_text }}' data-desc='{{ $file->description }}' data-folder='{{ $parent }}' data-user='{{ $file->user->first_name }} {{ $file->user->last_name }}' data-size='{{ num($file->filesize) }}' data-width='{{ num($file->width) }}' data-height='{{ num($file->height) }}'>
								<i class="icon-view"></i>
							</a>
							<a class="action-option btn btn-ico btn-dark" title="options"><i class="icon-arrow-down"></i></a>
						</div> <!-- end of btns-group -->

						<ul class="options p-absolute">
							<li><a class='action_edits' href="{{ admin_url('media/file/update/'.$file->id) }}">Edit</a></li>
							<li><a href="#">Move</a></li>
							<li><a class='confirm_delete' href="{{ admin_url('media/delete-file/'.$file->id) }}">Delete</a></li>
						</ul> <!-- end of options -->

					</div> <!-- end of ff-actions -->

					<div class="thumb-body" data-target="file">
						{{ if ('' == $file->thumb) }}
							<div class="thumbs" title="{{ $file->name }}" style="background: url('{{ image_url($file->filename, 80, 60) }}') center no-repeat">
							</div> <!-- end of folder-thumb -->
						{{ else }}
							<div class="thumbs {{ $file->thumb }}" title="{{ $file->name }}">
							</div> <!-- end of folder-thumb -->
						{{ endif }}

						<div class="ff-name"><p>{{ $file->name }}</p></div> <!-- end of ff-name -->
					</div> <!-- end of thumb-body -->

				</div> <!-- end of ff-wrapper -->

				{{ endloop }}

			{{ endif }}

			{{ if (isset($isEmpty)) }}

				<div id="no-index-data">
					{{ t('media::media.info.noFileFolder') }}
				</div><!-- end of no-index-data -->

			{{ endif }}

		</div> <!-- end of file-wrapper -->

	</div> <!-- end of ff-mix-container -->

	{{ ifset ($statusBar) }}
		{{ $statusBar }}
	{{ endif }}

</div> <!-- end of media-wrapper -->



<!-- Colorbox content -->
<div style="display:none;">
	
	<div id="file-detail">
		<div id="detail-file-img"></div> <!-- end of d-img-area -->
		<table class='stripe'>
			<tr>
				<td>{{ t('media::media.lbl.link') }}</td>
				<td class='semi-colom'>:</td>
				<td id="detail-file-link"></td>
			</tr>
			<tr>
				<td>{{ t('media::media.lbl.fileName') }}</td>
				<td class='semi-colom'>:</td>
				<td id="detail-file-name"></td>
			</tr>
			<tr>
				<td>{{ t('media::media.lbl.altText') }}</td>
				<td class='semi-colom'>:</td>
				<td id="detail-file-alt"></td>
			</tr>
			<tr>
				<td>{{ t('media::media.lbl.desc') }}</td>
				<td class='semi-colom'>:</td>
				<td id="detail-file-desc"></td>
			</tr>
			<tr>
				<td>{{ t('media::media.lbl.folderName') }}</td>
				<td class='semi-colom'>:</td>
				<td id="detail-file-folder"></td>
			</tr>
			<tr>
				<td>{{ t('media::media.lbl.dimension') }}</td>
				<td class='semi-colom'>:</td>
				<td id="detail-file-dimen"></td>
			</tr>
			<tr>
				<td>{{ t('media::media.lbl.size') }}</td>
				<td class='semi-colom'>:</td>
				<td id="detail-file-size"></td>
			</tr>
			<tr>
				<td>{{ t('media::media.lbl.author') }}</td>
				<td class='semi-colom'>:</td>
				<td id="detail-file-author"></td>
			</tr>
		</table>
	</div> <!-- end of file-detail -->

	<div id="folder-detail">
		<div id="detail-folder-image"></div>

		<table class="stripe">
			<tr>
				<td>{{ t('media::media.lbl.name') }}</td>
				<td class='semi-colom'>:</td>
				<td id="detail-folder-name"></td>
			</tr>
			<tr>
				<td>{{ t('media::media.lbl.desc') }}</td>
				<td class='semi-colom'>:</td>
				<td id="detail-folder-desc"></td>
			</tr>
			<tr>
				<td>{{ t('media::media.lbl.folderName') }}</td>
				<td class='semi-colom'>:</td>
				<td id="detail-folder-folder"></td>
			</tr>
			<tr>
				<td>{{ t('media::media.lbl.author') }}</td>
				<td class="semi-colom">:</td>
				<td id="detail-folder-author"></td>
			</tr>
		</table> <!-- end of stripe -->
	</div> <!-- end of folder-detail -->

</div>
