<div id="m-status-bar" class='clearfix adjust-width'>

	<div id="m-status-thumb" class='f-left'>
		<div class="thumbs-lg folder-thumb-lg">
			
		</div> <!-- end of folder-thumb-lg -->
	</div> <!-- end of m-status-thumb -->

	{=
		$fileCount = count($files);
		$folderCount = count($folders);
	=}

	<div id="m-statuses" class="f-left" data-origin="This folder contain {{ $folderCount }} folders and {{ $fileCount }} files">
		<p>This folder contain {{ $folderCount }} folders and {{ $fileCount }} files</p>
	</div> <!-- end of m-statuses -->

	<div id="m-status-desc" class="f-left">

		<table>
			<tr id="status_file_name" style="display: none;">
				<td>{{ t('media::media.lbl.fileName') }}</td>
				<td class='semi-colom'>:</td>
				<td></td>
			</tr>
			<tr id="status_folder_name" data-origin="{{ $current->name }}">
				<td>{{ t('media::media.lbl.folderName') }}</td>
				<td class='semi-colom'>:</td>
				<td>{{ $current->name }}</td>
			</tr>
			<tr id="status_desc" data-origin="{{ $current->desc }}">
				<td>{{ t('media::media.lbl.desc') }}</td>
				<td class='semi-colom'>:</td>
				<td>{{ $current->desc }}</td>
			</tr>
			<tr id="status_dimension" style="display: none;">
				<td>{{ t('media::media.lbl.dimension') }}</td>
				<td class='semi-colom'>:</td>
				<td></td>
			</tr>
			<tr id="status_size" style="display: none;">
				<td>{{ t('media::media.lbl.size') }}</td>
				<td class='semi-colom'>:</td>
				<td></td>
			</tr>
			<tr id="status_folder_auth" data-origin="{{ $current->user->first_name.' '.$current->user->last_name }}">
				<td>{{ t('media::media.lbl.folderAuthor') }}</td>
				<td class='semi-colom'>:</td>
				<td>{{ $current->user->first_name.' '.$current->user->last_name }}</td>
			</tr>
			<tr id="status_file_auth" style="display: none;">
				<td>{{ t('media::media.lbl.fileAuthor') }}</td>
				<td class="semi-colom">:</td>
				<td></td>
			</tr>
		</table>
	</div> <!-- end of m-statuses -->

</div> <!-- end of m-status-bar -->