<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>

	<meta name="robots" content="INDEX, FOLLOW" />
	<meta name="viewport" content="width=1024" />
	<meta name="description" content="My sample blog" />
	<meta name="keywords" content="blog, reborn, RebornCMS, my blog" />

	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>
<body>
	<div id="header" class='gd-960 clearfix'>

		<div id="head-name" class="f-left">
			<h1><a href="#">Zero</a></h1>
		</div> <!-- end of head-name -->

		<ul id="nav" class="f-right">

			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">About Me</a></li>
			<li><a href="#">Contact</a></li>

		</ul> <!-- end of nav -->

	</div> <!-- end of header -->

	<div id="main" class="gd-960 clearfix">

		<div id="main-featured-img">
			<img src="assets/img/head-featured.jpg">
		</div> <!-- end of main-featured-img -->

		<div id="main-content" class="clearfix">

			<div id="blog-list" class="f-left">
				
				<div class="blog_single">
					<h2 class="blog_title">
						<a href="#">Blog Post Title</a>
					</h2> <!-- end of blog_title -->

					<div class="blog_meta">

						<span class="author">
							<a href="#">Yan Naing</a>
						</span> <!-- end of author -->

						<span class="category">
							<a href="#">Testing</a>
						</span> <!-- end of category -->

						<span class="tags">
							<a href="#">blog</a>,
							<a href="#">testing</a>
						</span>

						<span class="date">
							2013-08-09 11:35 am
						</span> <!-- end of date -->

					</div> <!-- end of blog_meta -->

					<div class="blog_excerpt">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div> <!-- end of blog_excerpt -->

					<div class="read-more">
						<a href="#">Read More</a>
					</div> <!-- end of read-more -->

				</div> <!-- end of blog-single -->

				<div class="blog_single clearfix">
					<h2 class="blog_title">
						<a href="#">Blog Post Title</a>
					</h2> <!-- end of blog_title -->

					<div class="blog_meta">

						<span class="author">
							<a href="#">Yan Naing</a>
						</span> <!-- end of author -->

						<span class="category">
							<a href="#">Testing</a>
						</span> <!-- end of category -->

						<span class="tags">
							<a href="#">blog</a>,
							<a href="#">testing</a>
						</span>

						<span class="date">
							2013-08-09 11:35 am
						</span> <!-- end of date -->

					</div> <!-- end of blog_meta -->

					<div class="blog_excerpt">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div> <!-- end of blog_excerpt -->

					<div class="read-more">
						<a href="#">Read More</a>
					</div> <!-- end of read-more -->

				</div> <!-- end of blog-single -->

				<div class="blog_single clearfix">
					<h2 class="blog_title">
						<a href="#">Blog Post Title</a>
					</h2> <!-- end of blog_title -->

					<div class="blog_meta">

						<span class="author">
							<a href="#">Yan Naing</a>
						</span> <!-- end of author -->

						<span class="category">
							<a href="#">Testing</a>
						</span> <!-- end of category -->

						<span class="tags">
							<a href="#">blog</a>,
							<a href="#">testing</a>
						</span>

						<span class="date">
							2013-08-09 11:35 am
						</span> <!-- end of date -->

					</div> <!-- end of blog_meta -->

					<div class="blog_excerpt">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div> <!-- end of blog_excerpt -->

					<div class="read-more">
						<a href="#">Read More</a>
					</div> <!-- end of read-more -->

				</div> <!-- end of blog-single -->

				<div class="blog_single clearfix">
					<h2 class="blog_title">
						<a href="#">Blog Post Title</a>
					</h2> <!-- end of blog_title -->

					<div class="blog_meta">

						<span class="author">
							<a href="#">Yan Naing</a>
						</span> <!-- end of author -->

						<span class="category">
							<a href="#">Testing</a>
						</span> <!-- end of category -->

						<span class="tags">
							<a href="#">blog</a>,
							<a href="#">testing</a>
						</span>

						<span class="date">
							2013-08-09 11:35 am
						</span> <!-- end of date -->

					</div> <!-- end of blog_meta -->

					<div class="blog_excerpt">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div> <!-- end of blog_excerpt -->

					<div class="read-more">
						<a href="#">Read More</a>
					</div> <!-- end of read-more -->

				</div> <!-- end of blog-single -->

			</div> <!-- end of blog-list -->

			<div id="sidebar" class="f-left">
				
			</div> <!-- end of sidebar -->

		</div> <!-- end of main-content -->
	</div> <!-- end of main -->
	<div id="footer">
		
	</div> <!-- end of footer -->
</body>
</html>