{{ if(count($blogs) > 0) }}
	
	{{ loop($blogs as $blog) }}
	<div class="blog_single clearfix">
		<h2 class="blog_title"><a href="{{ $blog->url }}">{{ $blog->title }}</a></h2>

		<div class="blog_meta">
			Written by <a href="{{ $blog->author_url }}">{{ $blog->author_name }}</a>
				in <a href="{{ $blog->category_url }}">{{ $blog->category_name }}</a>
				at {{ $blog->post_date }}
			<span class="lang">
				{{ if(count($blog->lang_front) > 1) }}
					{{ implode("|", $blog->lang_front) }}
				{{ endif }}
			</span>
		</div> <!-- end of blog_meta -->

		{{ if($blog->has_feature_image) }}
			<div class="featured_img">
				<img src="{{ $blog->feature_image }}" alt="{{ $blog->title }}">
			</div>
		{{ endif }}

		<div class="blog_excerpt">{{ $blog->excerpt }}</div>

		{{ if($blog->has_tags) }}
			<span class="tags">
				Tags : {{ $blog->tags }}
			</span>
		{{ endif }}

	</div> <!-- end of blog_single -->
	{{ endloop }}
	{{ $pagination }}
	
{{ else }}
	<div class="no-content">
		There is no content for this year or peroid.
	</div>
{{ endif }}
