@import url(typo.css);

/* Dashboard CSS */

@font-face {
  font-family: "Titillium Web";
  src: url('../fonts/titilliumweb.ttf') format('truetype');
}
/* ---- */
html { overflow-y: scroll;}
body {
	background: #f2f6f6;
	font-family: "Titillium Web", Arial, sans-serif;
	width: 100%;
	height: 100%;
	font-size: 12px;
}

noscript {
	position: absolute;
	font-size: 16px;
	color: #f00;
	padding: 10px 20px;
	border: 1px solid #e00;
	background: #fee;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), inset 1px 1px 0px rgba(255, 255, 255, 1);
	border-radius: 0 4px 0 4px;
	z-index: 99;
	margin-left: -320px;
	left: 50%;
	top: 55px;
}

p {
	font-family: "Titillium Web", Arial, sans-serif;
	line-height: 1.8em;
	font-size: 12px;
}
span.required { color: #F33C3C;}
.text-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#main-container { padding-top:75px; }
.gravatar { border-radius: 2px; }
/* Upper Header */
div#dashboard-header {
	width: 100%;
	height: 40px;
	background: url(../img/dashboard-header.png) repeat-x left top transparent;
	position: fixed;
	z-index: 9000;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 10px;
}

div#dashboard-header h1 {
	font-size: 16px;
	line-height: normal;
}

div#dashboard-header h1 a {
	display: block;
	float: left;
	color: #929292;
	font-size: 16px;
	padding: 0px 10px 9px;
}
div#dashboard-header h1 a span.view-site {
	font-size: 14px;
	color: #838383;
}
div#dashboard-header h1 a span.view-site:hover { color: #CDCDCD;}
div#dashboard-user-meta {
	float: right;
	padding: 0px 10px 8px;
	position: relative;
}

div#dashboard-user-meta ul li {
	float: left;
	display: inline-block;
}

div#dashboard-user-meta ul li img.gravatar {
	width: 22px;
	height: 22px;
	display: block;
	float: left;
}

div#dashboard-user-meta ul li h2.dashboard-username {
	float: left;
	margin: 0 10px;
	color: #929292;
	font-size: 14px;
	margin-top: 3px;
	line-height: normal;
}

div#dashboard-user-meta ul li.dashboard-dropdown {
	height: 20px;
	cursor: pointer;
}


div#dashboard-user-meta ul li.dashboard-dropdown span#dropdown {
	background: url(../img/meta-arrow.png) no-repeat center top transparent;
	display: block;
	width: 10px;
	height: 8px;
	float: left;
	cursor: pointer;
	margin-top: 8px;
}

ul#dashboard-user-properties {
	display: none;
	position: absolute;
	right: 8px;
	z-index: 3;
	top: 35px;
	background: #232323;
	-webkit-box-shadow: 0px 2px 0px  rgba(46, 46, 46,0.2) inset;
	-moz-box-shadow: 0px 2px 0px  rgba(46, 46, 46,0.2) inset;
	-ms-box-shadow: 0px 2px 0px  rgba(46, 46, 46,0.2) inset;
	box-shadow: 0px 2px 0px  rgba(46, 46, 46,0.2) inset;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-ms-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	border: 1px solid #C8B6CC;
	border-top: none;
}

div#dashboard-header div.open ul li.dashboard-dropdown span#dropdown {
	background: url(../img/meta-arrow.png) no-repeat center bottom transparent;
}

div.open ul li.dashboard-dropdown ul#dashboard-user-properties{ display: block; }

div#dashboard-user-meta ul li ul#dashboard-user-properties li {
	float: none;
	display: list-item;
	width: 120px;
	padding: 8px 15px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-ms-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

div#dashboard-user-meta ul li ul#dashboard-user-properties li a {
	color: #929292;
	font-size: 14px;
	display: block;
}

div#dashboard-user-meta ul li ul#dashboard-user-properties li a i { margin-right: 7px; }
div#dashboard-user-meta ul li ul#dashboard-user-properties li:first-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}
ul#dashboard-user-properties li:hover {
	background: #e0e0e0;
}

div#message-area {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -400px;
	z-index: 9800;
	width: 800px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.8);
	-ms-box-shadow: 0 0 4px rgba(0,0,0,0.8);
	box-shadow: 0 0 4px rgba(0,0,0,0.8);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}
div#message-area .alert {	margin-bottom: 0px;}
div#message-area .alert-success {	border: 1px solid #5CA719;}
div#message-area .alert-error { border: 1px solid #F33C3C;}
div#message-area .alert-info { border: 1px solid #3A87AD;}

/* Left Dashboard Navigation */

div#dashboard-navigation {
	margin: -29px 0 0 0px;
	padding-left: 10px;
	width: 202px;
	float: left;
    min-width: 202px;
}

div#dashboard-navigation h1#reborncms a {
	background: url(../img/reborncms.png) no-repeat center center transparent;
	width: 189px;
	height: 42px;
	display: block;
	text-indent: -9999px;
	padding: 10px 0;
}

div#dashboard-navigation ul {
	margin: 0px;
	margin-top: 10px;
	width: 202px;
}

div#dashboard-navigation ul li.first { clear: both; }

div#dashboard-navigation ul li.first a {
	background: #d9d9d9;
	margin-bottom: 10px;
	padding: 10px 15px;
	-webkit-border-radius: 8px 0px 0px 8px;
	-moz-border-radius: 8x 0px 0px 8px;
	-ms-border-radius: 8px 0px 0px 8px;
	border-radius: 8px 0px 0px 8px;
	display: block;
	color: #555555;
	font-size: 15px;
}
div#dashboard-navigation ul li a i {
	margin: 1px 6px 0 0;
}

div#dashboard-navigation ul li ul.dashboard-second-level {
	display: none;
	margin-top: -11px;
	background: #e5e5e5;
	-webkit-border-radius: 0 0 0px 6px;
	-moz-border-radius: 0 0 0px 6px;
	-ms-border-radius: 0 0 0px 6px;
	border-radius: 0 0 0px 6px;
	float: right;
	margin-bottom: 10px;
	width: 95%;
}

div#dashboard-navigation ul li ul.dashboard-second-level li:last-child a {
	border-bottom: 0px;
	-webkit-border-radius: 0 0 0px 6px;
	-moz-border-radius: 0 0 0px 6px;
	-ms-border-radius: 0 0 0px 6px;
	border-radius: 0 0 0px 6px;
}


div#dashboard-navigation ul li ul.dashboard-second-level li a {
	background: none;
	padding-left: 31px;
	color: #555555;
	display: block;
	border-bottom: 1px solid #ababab;
	border-top: 1px solid #fafafa;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
}

div#dashboard-navigation ul li ul.dashboard-second-level li a:hover, div#dashboard-navigation ul li ul.dashboard-second-level li.active a  {
	background: #bfbfbf;
}

ul.dashboard-second-level li.active { position: relative; }

ul.dashboard-second-level li.active span.arrow {
	position: absolute;
	top: 13px;
	right: -2px;
	background: url(../img/dashboard-arrow.png) no-repeat center center transparent;
	display: block;
	width: 9px;
	height: 15px;
	z-index: 5;
}

div#dashboard-navigation ul li.active a,
div#dashboard-navigation ul li.am_is_open a,
div#dashboard-navigation ul li:hover a {
	background: url(../img/dashboard-navi-bg.png) repeat-x left top #957070;
	cursor: pointer;
}

div#dashboard-navigation ul li.active ul.dashboard-second-level {
	display: block;
}

/* Main Dashboard */

div#dashboard-area {
	margin: 0px 10px 0 212px;
	padding: 0;
}

div#dashboard-wrapper {
	width: 100%;
	border: 1px solid #d9d9d9;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-ms-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	min-height: 550px;
	position: relative;
}

div#module-shortcut {
	padding: 4px 2px;
	margin-right: 10px;
	text-align: right;
	margin-bottom: 8px;
}
div#module-shortcut a {
	margin-right: 10px;
}

div#content-wrapper { padding: 20px; font-family: Tahoma, Helvetica, Arial, sans-serif;}

div#dashboard-wrapper h2#welcome {
	background: #d9d9d9;
	display: block;
	font-size: 15px;
	color: #727272;
	padding: 9px 15px;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: normal;
	border-bottom: 1px solid #D0D0D0;
}
div#dashboard-wrapper h2#welcome span {
	font-size: 13px;
}

div#dashboard-wrapper div#upper-area {
	width: 97%;
	padding: 10px 15px;
	margin-bottom: 15px;
}

div#upper-area div#dashboard-links {
	text-align: center;
}

div#dashboard-links ul#quick-links {
	width: 100%;
	margin: 0px;
	height: 62px;
}

ul#quick-links li {
	border: 1px solid #D5D5D5;
    box-shadow: 0 0 0 1px #FFFFFF inset;
    display: inline-block;
    margin: 0px 5px 10px;
    text-align: center;
    background: #ffffff;
    border-radius: 6px 6px 6px 6px;
}
ul#quick-links li span {
	display: inline-block;
	float: left;
	border-right: 1px solid #D5D5D5;
	padding: 11px 8px;
	margin: -22px 0 0 -62px;
}

i.ico-user, i.ico-blog, i.ico-module, i.ico-page {
	width: 40px;
	height: 40px;
	display: block;
	opacity: 0.7;
}
i.ico-user {
	background: url(../img/icons/015.png);
}
i.ico-blog {
	background: url(../img/icons/026.png);
}
i.ico-module {
	background: url(../img/icons/020.png);
}
i.ico-page {
	background: url(../img/icons/006.png);
}

ul#quick-links li:hover a i {
	opacity: 1;
}

a.quick-btn {
	color: #626262;
    display: block;
    font-weight: bold;
    padding: 22px 30px 22px 65px;
    white-space: nowrap;
    font-size: 1.25em;
}
a.quick-btn:hover {
	color: #464646;
}

/* Box Area */
#box-area ul {
	margin: 0;
}

#box-left {
	display: inline;
    float: left;
    width: 48%;
}

#box-right {
	display: inline;
    float: right;
    width: 48%;
}

/* Dashboard Widget */
.dashboard-wg {
	background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CDCDCD;
    box-shadow: inset 0 0 1px rgba(225, 255, 255, 0.3);
	color: #989898;
	font-size: 13px;
	margin-top: 32px;
}
.dashboard-wg:first-child {
	margin-top: 0;
}

.dashboard-wg h2 {
	background: none repeat scroll 0 0 #E6E6E6;
    border-bottom: 1px solid #D9D9D9;
	color: #626262;
	font-size: 16px;
	font-weight: normal;
	padding: 8px 10px;
	line-height: normal;
}

.dashboard-wg h3 {
	font-size: 1.25em;
	color: #626262;
}

.dashboard-wg ul li {
	border-top: 1px solid #CDCDCD;
    padding: 12px;
}
.dashboard-wg ul li:first-child {
	border-top: none;
}
.dashboard-wg ul li .empty-list {
	display: block;
	color: #FF7799;
	font-size: 1.25em;
}

div#activity-log ul li:last-child { border-bottom: 0px; }

div#activity-log ul li a.fullname {
	font-size: 12px;
}
div#activity-log ul li span.date {
	font-size: 12px;
	color: #CD1D51;
}

div#last-post ul li {
	min-height: 84px;
}
div#last-post ul li span.date {
	display: inline-block;
	float: left;
	color: #696969;
	font-size: 1.2em;
	border: 1px solid #D5D5D5;
	width: 75px;
	text-align: center;
	padding-top: 9px;
	background: #efefef;
}

div#last-post ul li span.date .month {
	display: block;
	border-top: 1px solid #D5D5D5;
	margin-top: 8px;
	padding: 14px 0;
	font-size: 1.5em;
	background: #fff;
}
div#last-post h3 {
	margin: 5px 0 0 90px;
}
div#last-post .empty-list {
	padding: 20px 0;
}
div#last-comment .commenter,
div#last-comment .date,
div#last-comment .cmt-title {
	color: #064;
}

/* Dashboard Footer */

div#dashboard-footer {
	width: 100%;
	background: url(../img/dashboard-header.png) repeat-x left top transparent;
	padding: 0px 1px;
	height: 48px;
	position: absolute;
	bottom: -55px;
	left: -1px;
}

div#dashboard-footer p { margin-bottom: 0px;}
div#dashboard-footer p.reborn-version {
	text-align: left;
	color: #ffffff;
	font-size: 13px;
	padding: 10px;
	float: left;
}

div#dashboard-footer p.myanmarlinks {
	float: right;
	text-align: right;
	color: #ffffff;
	font-size: 13px;
	padding: 10px;
}

p.myanmarlinks a { color: #ffffff; }
p.myanmarlinks a:hover { text-decoration: underline; }

/* Setting Panel */
/* Tabs
----------------------------------*/
.ui-tabs .ui-tabs-hide { display: none !important; }
.tabs { padding: 0;}
.tab-menu {
	height: 34px;
	padding:0;
	margin: 0;
}
.tab-menu li {
	display: inline-block;
	float: left;
	background: #D9D9D9;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	border: 1px solid #cdcdcd;
	margin-left: 10px;
	margin-top: 4px;
}
.tab-menu li.ui-tabs-selected {
	background: #ffffff;
	margin-top: 0;
	border-bottom: 1px solid #ffffff;
}
.tab-menu li a {
	padding: 4px 18px 7px 18px;
	display: block;
	font-size: 16px;
	color: #565656;
}
.tab-menu li.ui-tabs-selected a {
	padding-top: 8px;
	color: #232323;
}
.tabs .form {
	padding: 0 13px;
}
.tabs .tabs-data {
	border: 1px solid #cdcdcd;
	padding: 20px;
	background: #ffffff;
}
.form {padding: 0;}
.form .form-block { border-top: 1px dashed #cdcdcd; padding-top: 15px; margin-bottom: 5px}

.form .first-block { border-top: none; }

.form .button-wrapper { margin-top: 0px; border: none;}

.form label {
	font-size: 13px;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	color: #595959;
	padding-top: 8px;
}
.form-right-block p, .double-field-block p { color: #919191; }

/* Toolbar */
div#toolbar {
	height: 33px;
	/* padding: 5px 24px 5px 20px; */
	padding: 4px 24px 4px 20px;
	background: #e6e6e6;
	border-bottom: 1px solid #D9D9D9;
	text-align: right;
}

/*
 * jQuery UI Datepicker 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; background-color:#fff; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; background: #999999; border: 1px solid #E2C9EB;border-bottom: none;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;-ms-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em;text-indent: -9999px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; color: #ffffff; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none;background:#E0E0E0; border: 1px solid #DADADA;}
.ui-datepicker td.ui-datepicker-today a { border: 1px solid #CACACA; background:#F7F7F7; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-icon-circle-triangle-w { background-position: 0 -860px;}
.ui-icon-circle-triangle-e { background-position: 0 -892px;}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/** No Index Data */
#no-index-data {
	padding: 20px 40px;
	border: 1px solid #E5E5E5;
	margin: 20px;
	background: #ffffff;
	color: #494949;
	text-align: center;
}

/** Media Screen less than 900px ( For Tablet - Mobile ) **/
@media only screen and (max-width: 900px) {

	div#message-area {
		margin-left: -250px;
		width: 500px;
	}

	div#dashboard-navigation {
		float: left;
		margin: -29px 0 0 0;
		min-width: 50px;
		padding-left: 10px;
		width: 50px;
	}

	div#dashboard-navigation h1#reborncms a {
		background-position: 0px 10px;
		width: 44px;
	}

	div#dashboard-navigation ul {
		width: 50px;
	}

	div#dashboard-navigation ul li.first {
		position: relative;
	}

	div#dashboard-navigation ul li.first a {
		font-size: 0px;
		height: 18px;
	}

	div#dashboard-navigation ul li.active a, div#dashboard-navigation ul li:hover a {

	}

	div#dashboard-navigation ul li.first a i {
		vertical-align: top;
		margin-left: 5px;
	}

	div#dashboard-navigation ul li ul.dashboard-second-level {
		display: none;
		left: 51px;
		position: absolute;
		width: 150px;
		top: 10px;
		z-index: 999;
		-webkit-border-radius: 0 6px 6px 6px;
		-moz-border-radius: 0 6px 6px 6px;
		-ms-border-radius: 0 6px 6px 6px;
		border-radius: 0 6px 6px 6px;

	}

	div#dashboard-navigation ul li ul.dashboard-second-level li a {
		background: none;
		padding-left: 31px;
		color: #555555;
		display: block;
		border-bottom: 1px solid #ababab;
		border-top: 1px solid #fafafa;
		border-left: 1px solid #ababab;
		border-right: 1px solid #ababab;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		border-radius: 0px;
		margin-bottom: 0px;
		font-size: 14px;
	}

	div#dashboard-navigation ul li ul.dashboard-second-level li:first-child a {
		border-left: 1px solid #d9d9d9;
		border-top: 1px solid #ababab;
		-webkit-border-radius: 0 6px 0 0;
		-moz-border-radius: 0 6px 0 0;
		-ms-border-radius: 0 6px 0 0;
		border-radius: 0 6px 0 0;
	}
	div#dashboard-navigation ul li ul.dashboard-second-level li:last-child a {
		border-bottom: 1px solid #ababab;
		-webkit-border-radius: 0 0 6px 6px;
		-moz-border-radius: 0 0 6px 6px;
		-ms-border-radius: 0 0 6px 6px;
		border-radius: 0 0 6px 6px;
	}

	div#dashboard-navigation ul li.active ul.dashboard-second-level {
		display: none;
	}
	ul.dashboard-second-level li.active span.arrow { display: none;}

	div#dashboard-wrapper div#upper-area {
		height: auto;
	}
	div#upper-area div#dashboard-links {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}


	div#dashboard-area { margin: 0 10px 0 60px; }

	div#content-wrapper { padding: 10px; font-family: Tahoma, Helvetica, Arial, sans-serif;}

	div#dashboard-footer p.reborn-version {
		font-size: 11px;
	}

}

/** Media Screen less than 1024px ( For Tablet - Mobile ) **/
@media only screen and (max-width: 1024px) {

	div#dashboard-wrapper div#upper-area {
		margin-bottom: 0;
	}
	div#dashboard-links ul#quick-links {
		height: 150px;
	}
	ul#quick-links li {
		width: 45%;
	}
	ul#quick-links li a {
		font-size: 1em;
	}

}

@media only screen and (max-width: 640px) {
	div#dashboard-wrapper {
		min-height: auto;
	}
	div#dashboard-links ul#quick-links {
		height: auto;
	}
	ul#quick-links li {
		display: block;
		text-align: left;
	}

	ul#quick-links li a {
		font-size: 1.25em;
	}
	#box-area {
		padding: 0px 15px;
    	width: 97%;
	}
	#box-left, #box-right {
		float: none;
	}
	.dashboard-wg.hide-on-640 {
		display: none;
	}
	#welcome span {
		display: none;
	}
	div#dashboard-footer p.reborn-version {
		display: none;
	}
	div#dashboard-footer p.myanmarlinks {
		float: none;
		text-align: center;
	}
}

@media only screen and (max-width: 360px) {
	div#dashboard-wrapper {
		min-height: auto;
	}
	div#dashboard-links ul#quick-links {
		height: auto;
	}
	ul#quick-links li {
		display: block;
		text-align: left;
		width: 90%;
	}

	#box-area {
		padding: 0px 15px;
    	width: 97%;
	}
	#box-left, #box-right {
		float: none;
	}
	.dashboard-wg.hide-on-640 {
		display: none;
	}
	div#dashboard-wrapper h2#welcome {
		font-size: 1em;
	}
	#welcome span {
		display: none;
	}
	div#dashboard-footer p.reborn-version {
		display: none;
	}
	div#dashboard-footer p.myanmarlinks {
		float: none;
		text-align: center;
	}
}

@media only screen and (max-width: 320px) {
	div#dashboard-wrapper h2#welcome {
		font-size: 0.9em;
	}
	ul#quick-links li a {
		font-size: 1em;
	}
	div#dashboard-footer p.myanmarlinks {
		text-align: center;
		font-size: 0.7em;
	}
}
