{{ Form::start(adminUrl('blog/'.$method), 'blog-create', true, array('class' => 'form blog_form')) }}
    {{ Form::hidden('id', (isset($blog->id) and $method == 'edit') ? $blog->id : '', array('id' => 'post_id')) }}
    <div id="main-form-wrapper">
        <div id="form-wrapper">
            <div id="form-left">
                <div id="autosave-msg"></div>
                <div class="form-block first-block" id="title-slug">
                    {{ Form::label(t('blog::blog.title').'<span class="required"></span>','title') }}
                    <div class="form-right-block">
                        <span class="msg error">{{ $blog->errors('title') }}</span>
                        {{ Form::input('title', isset($blog->title) ? $blog->title : '' ,'text',array('class' => 'xx-large', 'id' => 'form_title', 'required' => 'required')) }}
                    </div> <!-- end of form-right-block -->
                </div> <!-- end of form-block -->

                <div class="form-block first-block" id="title-slug">
                    {{ Form::label(t('blog::blog.slug').'<span class="required"></span>','slug') }}
                    <div class="form-right-block">
                        <span class="msg error" id="slug_error">{{ $blog->errors('slug') }}</span>
                        {{ Form::input('slug', isset($blog->slug) ? $blog->slug : '','text',array('class' => 'xx-large', 'id' => 'form_slug', 'required' => 'required')) }}
                    </div> <!-- end of form-right-block -->
                </div> <!-- end of form block -->

                <div class="form-block">
                    <span class="msg error">{{ $blog->errors('body') }}</span>
					{{ Form::ckeditor('body', (isset($blog->body) and $method == 'edit') ? $blog->body : '') }}

                </div> <!-- end of form-block -->
                <div class="form-block">
                    {{ Form::label(t('blog::blog.excerpt'), 'form_excerpt') }}
                    <div class="form-right-block">
                        {{ Form::textarea('excerpt', (isset($blog->excerpt) and $method == 'edit') ? $blog->excerpt : '', array('style' => 'width:90%')) }}
                    </div> <!-- end of form-right-block -->
                </div> <!-- end of form block -->
                {{ loop ($custom_field as $field) }}
                    {{ $field }}
                {{ endloop }}
            </div> <!-- end of form-left -->
        <!-- ***** END of LEFT Wrapper ***** -->
            <div id="form-right">
                <div id="option-control" class="r-m-c selected">
                    <a kind="click" href="javascript:void(0);">
                        <span class="tt"></span>
                        <span>{{ t('blog::blog.post_settings') }}</span>
                    </a>
                </div> <!-- end of div.r-container#option-control -->

                <div class="r-container">

                    <a href="javascript:void(0);" class="r-i-b">
                        <div>
                            <i class="icon-category"></i>
                            <span>{{ t('blog::blog.category') }}</span>
                        </div>
                    </a>

                    <div class="r-i-b-h">
                        <div id="category_select">
                            {{ Form::select('category_id', Blog\Lib\Helper::catList(), isset($blog->category_id) ? $blog->category_id : 1, array('class' => 'xx-large')) }}
                        </div>
                        <a href="{{ adminUrl('/blog/category/create') }}" id="add-new-cat" title="Add new Category" class="tipsy-tip c-edit-box"><i class="icon-circleplus icon-12 icon-gray"></i>{{ t('blog::blog.add_new_cat') }}</a>
                    </div>
                </div> <!-- end of div.r-container -->

                <div class="r-container">

                    <a href="javascript:void(0);" class="r-i-b">
                        <div>
                            <i class="icon-tag"></i>
                            <span>{{ t('blog::blog.tag') }}</span>
                        </div>
                    </a>

                    <div class="r-i-b-h">
                        {{ if ($method == 'edit') }}
                            {= $tags = $blog->tags_val =}
                        {{ else }}
                            {= $tags = '' =}
                        {{ endif }}
                        {{ Form::input('blog_tag', $tags, 'text', array('class' => 'thin large', 'id' => 'tags')) }}
                        <p>{{ t('blog::blog.tag_help') }}</p>
                    </div>

                </div> <!-- end of div.r-container -->

                {{ if(Sentry::getUser()->hasAccess('admin')) }}

                <div class="r-container">

                    <a href="javascript:void(0);" class="r-i-b">
                        <div>
                            <i class="icon-user"></i>
                            <span>{{ t('blog::blog.author') }}</span>
                        </div>
                    </a>

                    <div class="r-i-b-h">
                        {{ Form::select('author_id', $authors, isset($blog->author_id) ? $blog->author_id : '0', array('class' => 'thin xx-large')) }}
                    </div>

                </div> <!-- end of div.r-container -->

                {{ endif }}

                {{ if($method != 'edit' or $blog->created_at >= date('Y-m-d h:1:s') or $blog->status == 'draft') }}
                <div class="r-container">

                    <a href="javascript:void(0);" class="r-i-b">
                        <div>
                            <i class="icon-time"></i>
                            <span>{{ t('blog::blog.schedule') }}</span>
                        </div>
                    </a>

                    <div class="r-i-b-h" id="schdule_opt">

                        {{ Form::radioGroup('sch_type', array('auto' => t('blog::blog.auto_schedule'), 'manual' => t('blog::blog.manual_schedule')), 'auto') }}
                        {{ if(isset($blog->created_at) and $method == 'edit') }}
                            <span class="sch-data">
                                {{ $blog->created_at }}
                            </span>
                        {{ endif }}

                        <div id="manual-sch">
                            {{ Form::input('date',(isset($blog->created_at) and $method == 'edit') ? $blog->created_at : '', 'text', array('class' => 'thin xx-large', 'id' => 'datepicker')) }}
                        </div>

                    </div>
                </div> <!-- end of div.r-container -->
                {{ else }}
                    {{ Form::hidden('created_at', isset($blog->created_at) ? $blog->created_at : '') }}
                {{ endif }}

                <div class="r-container">

                    <a href="javascript:void(0);" class="r-i-b">
                        <div>
                            <i class="icon-comment"></i>
                            <span>{{ t('blog::blog.comment_status') }}</span>
                        </div>
                    </a>

                    <div class="r-i-b-h">
                        {{ Form::select('comment_status', array('open' => t('blog::blog.open'), 'close' => t('blog::blog.close')), isset($blog->comment_status) ? $blog->comment_status : 'open', array('class' => 'thin xx-large')) }}
                    </div>

                </div> <!-- end of div.r-container -->

                <div class="r-container">
                    <a href="javascript:void(0);" class="r-i-b">
                        <div>
                            <i class="icon-img"></i>
                            <span>{{ t('blog::blog.featured') }}</span>
                        </div>
                    </a>

                    <div class="r-i-b-h"{{ ($blog->attachment) ? ' style="display:block;"' : '' }}>
                        {{ Form::thumbnail('attachment', $blog->attachment, array('add' => t('blog::blog.add_featured_img'), 'remove' => t('blog::blog.remove_featured_img'))) }}
                    </div>

                </div> <!-- end of div.r-container -->

                <!-- Version Upgrade Needed -->
                {{ if(Module::getData('blog', 'dbVersion') >= 1.1) }}
                <div class="r-container">
                    <a href="javascript:void(0);" class="r-i-b">
                        <div>
                            <i class="icon-earth"></i>
                            <span>Multi - language</span>
                        </div>
                    </a>

                    <div class="r-i-b-h"{{ ($method == 'multilang') ? ' style="display:block;"' : '' }}>
                       {{ if ($method != 'create' and count($blog->lang_list) > 1) }}
                           <strong>Avaliable Languages</strong>
                           <ul>
                               {{ loop ($blog->lang_list as $lang) }}
                                   {{ if ($lang['lang'] == $blog->lang) }}
                                       <li><b>{{ $lang['lang'] }}</b></li>
                                   {{ else }}
                                       <li><a href="{{ adminUrl('blog/edit/'.$lang['id']) }}" class="tipsy-tip" title="Edit contents of this language version" target="_blank">{{ $lang['lang'] }}</a></li>
                                   {{ endif }}
                               {{ endloop }}
                           </ul>
                       {{ endif }}
                        <div id="current_lang">
                            {{ Form::label('Current Language', 'lang', array('style' => 'width:80%')) }}
                            {{ Form::text('lang', isset($blog->lang) ? $blog->lang : Setting::get('blog_content_default_lang'), array('style' => 'width:auto')) }}
                            {{ if ($method == 'multilang') }}
                                {{ if ($blog->lang_ref) }}
                                    {= $lang_ref = $blog->lang_ref =}
                                {{ else }}
                                    {= $lang_ref = $blog->id =}
                                {{ endif }}
                            {{ else }}
                                 {= $lang_ref = 0 =}
                            {{ endif }}
                            {{ Form::hidden('lang_ref', $lang_ref) }}
                        </div>

                        {{ if ($method != 'create') }}
                            <a href="{{ adminUrl('blog/multilang/'.$blog->id) }}" class="add_other_lang tipsy-tip" title="Add this content with another language" target="_blank">
                                <i class="icon-circleplus icon-grey icon-12"></i>
                                Add another language
                            </a>
                        {{ else  }}
                            ** Please save the post first before adding another language.
                        {{ endif }}

                    </div>

                </div> <!-- end of div.r-container -->
                {{ endif }}

            </div> <!-- end of form-right -->

            <div class="form-block form-action button-wrapper">

                {{ if ($method == 'edit') }}
                    {{ Form::hidden('status', $blog->status) }}
                {{ endif }}

                {{ if ($method == 'create' or $blog->status == 'draft') }}
                    {=
                        $save_button_val = t('global.publish');
                        $draft_button_val = t('global.save_draft');
                    =}
                {{ else }}
                    {=
                        $save_button_val = t('global.save');
                        $draft_button_val = t('global.unpublish');
                    =}
                {{ endif }}

                {{ Form::submit('publish', $save_button_val, array('class' => 'btn btn-green')) }}
                {{ Form::submit('save_draft', $draft_button_val, array('class' => 'btn')) }}
                {{ if ($method == 'edit') }}
                    <a href="{{ adminUrl('blog/delete/'.$blog->id) }}" class="btn btn-red">Move to Trash</a>
                {{ endif }}

            </div> <!-- end of form-block -->

        </div> <!-- end of div#form-wrapper -->
    </div> <!-- end of div#main-form-wrapper -->
{{ Form::end() }}
