{{ if(Module::getData('blog', 'dbVersion') < 1.1) }}
<div class="msg-box msg-warning">*** Please upgrade Blog Module. Click <a href="{{ adminUrl('module') }}">here</a> to upgrade.</div>
{{ endif }}
{{ if ($list_type != 'trash') }}
	<div id="filter-bar">
		{{ Form::start(adminUrl('blog/search'), 'filter-form',false, array('class' => 'form')) }}
			{{ Form::label(t('blog::blog.filter_search').' :','term') }}
			{{ Form::input('term','','text', array('id' => 'filter-box','class' => 'small thin')) }}
		{{ Form::end() }}
	</div>
{{ endif }}
{{ if(Module::getData('blog', 'dbVersion') >= 1.1) }}
<a href="{{ adminUrl('blog/trash') }}" id="trash_link" class="btn"><i class="icon-remove icon-white icon-16"></i>Trash ({{ $trash_count }})</a>
{{ endif }}
<div id="data_table_wrapper">
	{{ $data_table }}
</div>