{{ if(count($blogs) > 0) }}
	{# multi_delete #}
	{{ Form::start(ADMIN_URL.'/blog/delete') }}
	<table class="stripe">
		<thead>
			<tr>
				<th width="5%">{{ Form::checkbox('action_to_all', '', array('class' => 'check-all')) }}</th>
				<th width="20%">{{ Translate::get('blog::blog.title') }}</th>
				<th width="15%">{{ Translate::get('blog::blog.category') }}</th>
				<th width="15%">{{ Translate::get('blog::blog.author') }}</th>
				<th width="15%">{{ Translate::get('blog::blog.created_at') }}</th>
				<th width="19%">{{ Translate::get('label.actions') }}</th>
			</tr>	
		</thead>
		<tbody>
			{= $a = 1 =}
			{{ loop($blogs as $blog) }}
			<tr>
				<td class="checkbox">{{ Form::checkbox('action_to[]', $blog->id, array('id' => 'action'.$a)) }}</td>
				<td>
					<span class="bg-title">
						<a href="{{ 'admin/blog/edit/'.$blog->id }}">{{ $blog->title }}</a>
						{{ if($blog->status == 'draft') }}
							<a href="{{ 'admin/blog/changeStatus/'.$blog->id }}">
								<span class="label label-info">{{ Translate::get('blog::blog.'.$blog->status) }}</span>
							</a>
						{{ endif }}
						{{ if ($blog->created_at > date('Y-m-d H:i:s')) }}
						<span class="label schedule_label">Scheduled</span>
						{{ endif }}
					</span>
				</td>
				<td>
					{{ $blog->category->name }}
				</td>
				<td>
					{{ $blog->author->first_name.' '.$blog->author->last_name }}
				</td>
				<td>
					{= $date = date_create($blog->created_at) =}
					{{ date_format($date, 'Y-m-d h:i a') }}
				</td>
				<td>
					<a href="{{ 'blog/preview/'.$blog->slug }}" title="Preview" class="ico-button button-blue tipsy-tip"><i class="icon-view2 icon-white"></i></a>
					<a href="{{ 'admin/blog/edit/'.$blog->id }}" title="Edit" class="ico-button button-green tipsy-tip"><i class="icon-edit icon-white"></i></a>
					<a href="{{ 'admin/blog/delete/'.$blog->id }}" title="Delete" class="ico-button button-red confirm_delete tipsy-tip"><i class="icon-trash2 icon-white"></i></a>
				</td>
			</tr>
			{= $a++ =}
			{{ endloop }}
		</tbody>
	</table>
	<div class="button-wrapper" id="delete_select">
		{{ Form::submit('submit_delete', 'Delete Selected', array('class' => 'confirm_delete button button-red', 'disabled' => 'disabled')) }}
		{{ Form::end() }}
	</div>
	{{ if(isset($pagination)) }}
		{{ $pagination }}
	{{ endif }}
{{ else }}
	<div id="no-index-data">
		{{ Translate::get('blog::blog.no_post') }}
	</div>
{{ endif }}
