{{ if(count($blogs) > 0) }}
	{# multi_delete #}
	{{ Form::start(ADMIN_URL.'/blog/delete') }}
	<table class="stripe" id="blog_data_table">
		<thead>
			<tr>
				<th width="3%">{{ Form::checkbox('action_to_all', '', false, array('class' => 'check-all')) }}</th>
				<th width="22%">{{ t('blog::blog.title') }}</th>
				<th width="10%">{{ t('blog::blog.lang') }}</th>
				<th width="10%">{{ t('blog::blog.category') }}</th>
				<th width="10%">{{ t('blog::blog.author') }}</th>
				{{ if ($list_type != 'trash') }}
				<th width="4%" style="min-width:35px;text-align:center;">
					<i class="icon-comment icon-gray"></i>
				</th>
				{{ endif }}
				<th width="13%">{{ t('global.created_at') }}</th>
				{{ if ($list_type == 'trash') }}
					<th>Trashed at</th>
				{{ endif }}
				<th width="17%" style="min-width:125px;">{{ t('label.actions') }}</th>
			</tr>
		</thead>
		<tbody>
			{= $a = 1 =}
			{{ loop($blogs as $blog) }}
			{= $date = date_create($blog->created_at) =}
			<tr>
				<td class="checkbox">{{ Form::checkbox('action_to[]', $blog->id, false, array('id' => 'action'.$a)) }}</td>

				<!-- Blog Title -->
				<td style="width:22%;">
					<span class="bg-title">
						{{ if ($list_type != 'trash') }}

							{{ if ($blog->created_at > date('Y-m-d H:i:s')) }}
								<a href="#" class="scheduled_icon tipsy-tip" title="{{ t('blog::blog.schedule_label').' '. num(date_format($date, 'Y-m-d h:i a')) }}"><i class="icon-calendar icon-gray"></i></a>
							{{ endif }}

							{{ if($blog->status == 'draft') }}
								<a href="{{ adminUrl('blog/change-status/'.$blog->id) }}" class="draft-label">
									<span class="label label-info">{{ t('global.draft_label') }}</span>
								</a>
							{{ endif }}

							<a href="{{ adminUrl('blog/edit/'.$blog->id) }}" title="{{ $blog->title }}" class="no-overflow-txt tipsy-tip" style="width:82%">
								{{ $blog->title }}
							</a>

						{{ else }}
							{{ $blog->title }}
						{{ endif }}
					</span>
				</td>

				<!-- Language -->
				<td>

					{{ if ($list_type != 'trash' and $list_type != 'search' and count($blog->lang_list) > 1) }}
						<div class="multi_lang">
							{{ loop ($blog->lang_list as $lang) }}
								<li>
									<a href="{{ adminUrl('blog/edit/'.$lang['id']) }}" title="{{ $lang['title'] }}" class="tipsy-tip">{{ Config::get('langcodes.'.$lang['lang']) }}</a>
									{{ if ($lang['status'] == 'draft') }}
										<span class="draft_lang label label-info">{{ t('global.draft_label') }}</span>
									{{ endif }}
								</li>
							{{ endloop }}
						</div>
					{{ else }}
						{= $blog_lang = ($blog->lang) ? $blog->lang : Setting::get('blog_content_default_lang') =}
						{{ Config::get('langcodes.'.$blog_lang) }}
					{{ endif }}
				</td>
				
				<!-- Category -->
				<td>
					{{ if (!isset($blog->category->name)) }}
						Untitled
					{{ else }}
						<a href="{{ admin_url('blog/category/'.$blog->category->id) }}">
							{{ $blog->category->name }}
						</a>
					{{ endif }}
				</td>

				<!-- Author -->
				<td>
					<a href="{{ url('user/profile/'.$blog->author->id) }}">{{ $blog->author_name }}</a>
				</td>

				<!-- comment count -->
				{{ if ($list_type != 'trash') }}
					<td style="text-align:center;">
						<a href="{{ admin_url('comment') }}">{{ $blog->comment_count }}</a>
					</td>
				{{ endif }}

				<!-- Created at -->
				<td>
					{{ if ($blog->created_at > date('Y-m-d H:i:s')) }}
						{{ t('blog::blog.schedule_label').' '. num(date_format($date, 'Y-m-d h:i a')) }}
					{{ else }}
						{{ num(date_format($date, 'Y-m-d h:i a')) }}
					{{ endif }}
				</td>

				<!-- Deleted at (trash) -->
				{{ if ($list_type == 'trash') }}
					<td>
						{= $dl_date = date_create($blog->deleted_at) =}
						{{ num(date_format($dl_date, 'Y-m-d h:i a')) }}
					</td>
				{{ endif }}

				<!-- Actions -->
				<td>
					<div class="icons-bar">
						{{ if ($list_type != 'trash') }}
							{{ if($blog->status == 'draft') }}
								{= $view_url = url('blog/preview/'.$blog->slug) =}
							{{ else }}
								{= $view_url = url('blog/'.$blog->slug) =}
							{{ endif }}
							<a href="{{ $view_url }}" title="{{ t('global.preview') }}" class="tipsy-tip" target="_blank"><i class="icon-view"></i></a>
							<a href="{{ admin_url('blog/multilang/'.$blog->id) }}" title="{{ t('blog::blog.add_lang') }}" class="tipsy-tip"><i class="icon-earth"></i></a>
							<a href="{{ admin_url('blog/edit/'.$blog->id) }}" title="{{ t('global.edit') }}" class="tipsy-tip"><i class="icon-edit"></i></a>
							<!-- delete for which has multi-lang -->
							<a href="{{ admin_url('blog/delete/'.$blog->id) }}" title="{{ t('global.delete') }}" class="confirm_delete tipsy-tip"><i class="icon-remove"></i></a>
						{{ else }}
							<a href="{{ admin_url('blog/restore/'.$blog->id) }}" title="Restore" class="tipsy-tip"><i class="icon-undo"></i></a>
							<a href="{{ admin_url('blog/delete/'.$blog->id) }}" title="Permanently delete" class="confirm_delete tipsy-tip"><i class="icon-cross"></i></a>
						{{ endif }}
					</div>
				</td>
			</tr>
			{= $a++ =}
			{{ endloop }}
		</tbody>
	</table>
	<div class="button-wrapper" id="delete_select">
		<!-- Multi Button for Trash -->
		{{ if ($list_type == 'trash') }}
			{= $multi_btn_label = 'Permanently Delete Selected' =}
		{{ else }}
			{= $multi_btn_label = t('global.delete_selected') =}
		{{ endif }}
		{{ Form::submit('submit_delete', $multi_btn_label, array('class' => 'confirm_delete btn btn-red', 'disabled' => 'disabled')) }}
		{{ Form::end() }}
	</div>
	{{ if(isset($pagination)) }}
		{{ $pagination }}
	{{ endif }}
{{ else }}
	<div id="no-index-data">
		{{ t('blog::blog.no_post') }}
	</div>
{{ endif }}
