{{ if(count($blogs) > 0) }}
	{# multi_delete #}
	{{ Form::start(ADMIN_URL.'/blog/delete') }}
	<table class="stripe">
		<thead>
			<tr>
				<th width="3%">{{ Form::checkbox('action_to_all', '', false, array('class' => 'check-all')) }}</th>
				<th width="27%">{{ t('blog::blog.title') }}</th>
				<th width="15%">{{ t('blog::blog.category') }}</th>
				<th width="15%">{{ t('blog::blog.author') }}</th>
				<th width="15%">{{ t('global.created_at') }}</th>
				<th width="15%">{{ t('label.actions') }}</th>
			</tr>	
		</thead>
		<tbody>
			{= $a = 1 =}
			{{ loop($blogs as $blog) }}
			<tr>
				<td class="checkbox">{{ Form::checkbox('action_to[]', $blog->id, false, array('id' => 'action'.$a)) }}</td>
				<td>
					<span class="bg-title">
						<a href="{{ adminUrl('blog/edit/'.$blog->id) }}">{{ $blog->title }}</a>
						{{ if($blog->status == 'draft') }}
							<a href="{{ adminUrl('blog/changeStatus/'.$blog->id) }}">
								<span class="label label-info">{{ t('global.draft_label') }}</span>
							</a>
						{{ endif }}
						{{ if ($blog->created_at > date('Y-m-d H:i:s')) }}
						<span class="label schedule_label">{{ t('blog::blog.schedule_label') }}</span>
						{{ endif }}
					</span>
				</td>
				<td>
					{{ $blog->category->name }}
				</td>
				<td>
					<a href="{{ rbUrl('user/profile/'.$blog->author->id) }}">{{ $blog->author_name }}</a>
				</td>
				<td>
					{= $date = date_create($blog->created_at) =}
					{{ num(date_format($date, 'Y-m-d h:i a')) }}
				</td>
				<td>
					<div class="icons-bar">
						<a href="{{ rbUrl('blog/preview/'.$blog->slug) }}" title="{{ t('global.preview') }}" class="tipsy-tip"><i class="icon-view"></i></a>
						<a href="{{ adminUrl('blog/edit/'.$blog->id) }}" title="{{ t('global.edit') }}" class="tipsy-tip"><i class="icon-edit"></i></a>
						<a href="{{ adminUrl('blog/delete/'.$blog->id) }}" title="{{ t('global.delete') }}" class="confirm_delete tipsy-tip"><i class="icon-remove"></i></a>
					</div>
				</td>
			</tr>
			{= $a++ =}
			{{ endloop }}
		</tbody>
	</table>
	<div class="button-wrapper" id="delete_select">
		{{ Form::submit('submit_delete', t('global.delete_selected'), array('class' => 'confirm_delete btn btn-red', 'disabled' => 'disabled')) }}
		{{ Form::end() }}
	</div>
	{{ if(isset($pagination)) }}
		{{ $pagination }}
	{{ endif }}
{{ else }}
	<div id="no-index-data">
		{{ t('blog::blog.no_post') }}
	</div>
{{ endif }}
