{{ if ($method == 'edit' ) }}
	{= $id = (isset($template->id)) ? $template->id : '' =}
	{= $slug = (isset($template->slug)) ? $template->slug : '' =}
{{ endif }}

{{ Form::start(adminUrl('contact/email-template/'.$method),'',true,array('class'=>'form')) }}

		<div class="form-block first-block">
			{{ Form::label(t('label.name').'<span class="required"></span>', 'name') }}
			<div class="form-right-block">
				{{ Form::input('name', isset($template->name) ? $template->name : '', 'text', array('placeholder' => 'name')) }}
				<span class="msg error">{{ $errors['name'] }}</span>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form block -->
		{{ if (!($method == 'edit')) }}
		<div class="form-block first-block">
			{{ Form::label(t('label.slug').'<span class="required"></span>', 'slug') }}
			<div class="form-right-block">
				{{ Form::input('slug', isset($template->slug) ? $template->slug :'', 'text', array('placeholder' => 'Slug')) }}
					<span class="msg error">{{ $errors['slug'] }}</span>
				<p>Careful! This field cann't be edited.</p>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form block -->
		{{ else }}
			<div class="form-block first-block">
				{{ Form::label(t('label.slug').'<span class="required"></span>', 'slug') }}
				<div class="form-right-block">
					{{ Form::input('fade_slug', $template->slug , 'text', array('placeholder' => 'Slug','disabled'=>'disabled')) }}
					<p>This field cann't be edited.</p>
				</div> <!-- end of form-right-block -->
			</div> <!-- end of form block -->
		{{ endif }}
		<div class="form-block first-block">
			{{ Form::label(t('label.desc').'<span class="required"></span>', 'description') }}
			<div class="form-right-block">
				{{ Form::input('description', isset($template->description) ? $template->description :'', 'text', array('placeholder' => 'Description')) }}
				<span class="msg error">{{ $errors['description'] }}</span>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form block -->

		<div class="form-block first-block">
			<span class="msg error">{{ $errors['body'] }}</span>
			{{ Form::ckeditor('body', isset($template->body) ? $template->body : '') }}
		</div> <!-- end of form-right-block -->
		
		{{ if ($method == 'edit') }}
			{{ Form::hidden('id', $id) }}
			{{ Form::hidden('slug', $slug) }}
		{{ endif }}
		<div class="form-block form-action button-wrapper">
			{{ Form::submit('submit', t('global.save'), array('id' => 'create', 'class' => 'btn btn-green')) }}
			<a href="{{ adminUrl("contact/email-template") }}" title="{{ t('global.cancel') }}" class="tipsy-tip">{{ t('global.cancel') }}</a>
		</div>

	{{ Form::end() }}