{{ if(count($templates) > 0) }}

<script type="text/javascript">
	$(function(){
		$('.email-template').on('click', function() {
			var url = $(this).attr('href');

			$(this).colorbox({
				width:"80%", 
				height:"80%",
				href: url
			});
		});
		
	});
</script>
{{ Form::start(ADMIN_URL.'/contact/email-template/delete') }}
<table class="stripe">
	<thead>
		<tr>
			<th width="5%">{{ Form::checkbox('action_to_all', '',false, array('class' => 'check-all')) }}</th>
			<th>{{ t('label.name') }}</th>
			<th>{{ t('label.email') }}</th>
			<th width="170">{{ t('label.action') }}</th>
		</tr>
	</thead>
	<tbody>
		{= $a = 1 =}
		{{ loop($templates as $template) }}
		<tr>
			{{ if($template->detemp == 0)}}
			<td class="checkbox">{{ Form::checkbox('action_to[]', $template->id,false, array('id' => 'action'.$a)) }}</td>
			
			{{ else }}
			<td></td>
			{{ endif }}
			<td>{{ $template->name }}</td>
			<td>{{ $template->description }}</td>
			<td>
				<div class="icons-bar">
					<a href="{{ admin_url("contact/email-template/view/".$template->id) }}" title="{{ t('contact::contact.labels.view') }}" class="tipsy-tip email-template">
						<i class="icon-view"></i>
					</a>
					<a href="{{ admin_url("contact/email-template/edit/".$template->id ) }}" title="{{ t('global.edit') }}" class="tipsy-tip">
						<i class="icon-edit"></i>
					</a>
					<a href="{{ admin_url("contact/email-template/duplicate/".$template->id) }}" title="{{ t('contact::contact.labels.duplicate') }}" class="tipsy-tip">
						<i class="icon-copy"></i>
					</a>
					{{ if($template->detemp == 0)}}
					<a href="{{ admin_url("contact/email-template/delete/".$template->id) }}" title="{{ t('global.delete') }}" class="ico-button button-red tipsy-tip confirm_delete"><i class="icon-remove"></i></a>
					{{ endif }}
				</div><!--- end of icons-bar -->
			</td>
		{= $a++ =}
		</tr>
		{{ endloop }}
	</tbody>
</table>
<div class="button-wrapper" id="delete_select">
		{{ Form::submit('submit_delete', t('global.delete_selected'), array('class' => 'confirm_delete btn btn-red', 'disabled' => 'disabled')) }}
		{{ Form::end() }}
	</div>
{{ $pagination }}
{{ else }}
	<div id="no-index-data">
		{{ t('contact::contact.no_template') }}
	</div>
{{ endif }}