{{ Form::start(adminUrl('contact/send-mail'),'',true,array('class'=>'form')) }}
		
		<div class="form-block first-block" style="margin-top:8px;">
			{{ Form::label(t('label.email').'<span class="required"></span>', 'email') }}
			<div class="form-right-block">
				{{ Form::input('email', isset($mail->email) ? $mail->email : '', 'text', array('placeholder' => 'email@example.com')) }}
				<span class="msg error">{{ $errors['email'] }}</span>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form block -->
		
		<div class="form-block first-block">
			{{ Form::label(t('contact::contact.labels.subject').'<span class="required"></span>', 'subject') }}
			<div class="form-right-block">
				{{ Form::input('subject', isset($mail->subject) ? $mail->subject :'', 'text', array('placeholder' => 'Subject')) }}
				<span class="msg error">{{ $errors['subject'] }}</span>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form block -->

		<div class="form-block first-block">
			{{ Form::label(t('contact::contact.labels.message').'<span class="required"></span>', 'message') }}
			<div class="form-right-block">
				{{ Form::textarea('message', isset($mail->message) ? $mail->message :'',array('placeholder' => 'Message','cols'=>'30')) }}
				<span class="msg error">{{ $errors['message'] }}</span>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form block -->

		<div class="form-block first-block">
			{{ Form::label(t('contact::contact.labels.attachment'), 'attachment') }}
			<div class="form-right-block">
				{{ Form::file('attachment',array()) }}
				<span class="msg error">{{ $errors['attachment'] }}</span>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form block -->

		<div class="form-block form-action button-wrapper">
			{{ Form::submit('submit', t('contact::contact.labels.send'), array('id' => 'create', 'class' => 'btn btn-green')) }}
			<a href="{{ adminUrl("contact") }}" title="{{ t('global.cancel') }}">{{ t('global.cancel') }}</a>
		</div>

	{{ Form::end() }}