<div id="main-form-wrapper">
	<div id="form-wrapper" class="themeEditor clearfix">

		<div id="form-left">			
			<h3>Edit "{{ $currentFile['basename'] }}"</h3>

			{{ Form::start("$adminUrl/theme/editor/edit/".$currentFile['extension']."/".$currentFile['filename'], 'theme_upload', true, array('class' => 'form')) }}
			<div class="form-block">			  	
			    <textarea name="content" id="textEditor">{{ $content }}</textarea>			   
			</div> <!-- end of form block -->

			<div class="form-block">
				{{ Form::submit('submit', t('theme::editor.save'), array('id' => 'save', 'class' => 'button button-green')) }}
			</div> <!-- end of form block -->
			{{ Form::end() }}

		</div> <!-- end of form-left -->

		<div id="form-right" class="themeFiles">
			{{ if ($files) }}
				{{ loop($files as $file => $extension) }}

					{{ if($file == 'css') }}
						<h6>Styles</h6>
						<ul>
						{{ loop($extension as $css) }}
							<li><a href={{ adminUrl('theme/editor/edit/'.$css['extension'].'/'.$css['filename']) }}>{{ $css['basename'] }}</a></li>
						{{ endloop }}
						</ul>
					{{ endif }}

					{{ if($file == 'js') }}
						<h6>Scripts</h6>
						<ul>
						{{ loop($extension as $css) }}
							<li><a href={{ adminUrl('theme/editor/edit/'.$css['extension'].'/'.$css['filename']) }}>{{ $css['basename'] }}</a></li>
						{{ endloop }}
						</ul>
					{{ endif }}

					{{ if($file == 'template') }}
						<h6>Templates</h6>
						<ul>
						{{ loop($extension as $css) }}
							<li><a href={{ adminUrl('theme/editor/edit/'.$css['extension'].'/'.$css['filename']) }}>{{ $css['basename'] }}</a></li>
						{{ endloop }}
						</ul>
					{{ endif }}
				
				{{ endloop }}
			{{ endif }}

		</div> <!-- end of form-right -->
	</div> <!-- end of form-wrapper -->
</div> <!-- end of main-form-wrapper -->

<script type="text/javascript">  
    jQuery(document).ready(function() {  
        var editor = CodeMirror.fromTextArea(document.getElementById("textEditor"), {
        	lineWrapping: true,
        	lineNumbers: true
        });
    });
</script> 