	<meta charset="UTF-8">
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta name="robots" content="INDEX,FOLLOW" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="author" content="Reborn CMS Development Team" />
	<meta name="description" content="RebornCMS Dashboard" />
	<meta name="keywords" content="reborn, cms, dashboard" />
	<!--<base href="{{ rbUrl() }}" /> -->

	<link rel="shortcut icon" type="image/x-icon" href="{{ assetPath('img') }}/favicon.ico">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	{{ $metadata }}

	<title>{{ \Setting::get('site_title') .' - '. $layoutTitle }}</title>

	{{ css(array('plugins/plugins.css', 'plugins/colorbox/colorbox.css', 'plugins/jqueryui/stupid/jquery-ui-1.10.3.custom.css')) }}

	{{ less('import.less') }}

	{{ if('my' == \Facade::getApplication()->session->get('reborn_dashboard_language')) }}
	{{ css('myanmar-language.css') }}
	{{ endif }}

	{{ $headerStyle }}

	<script type="text/javascript">
		var ADMIN = '{{ $adminUrl }}',
			SITEURL = '{{ rbUrl() }}';
	</script>

	{{ js('vendor/jquery-1.9.0.min.js') }}

	{{ js(array('plugins/jquery-plugins.js', 'jquery.colorbox.js', 'plugins/jqueryui/jquery-ui-1.10.3.custom.min.js')) }}

	{{ js('reborn.js') }}

	{{ $headerScript }}

