{{ if(count($group) > 0) }}
<table class="stripe" style="margin-top: 20px;">
	<thead>
		<tr>
			<th>{{ t('user::permission.groupName') }}</th>
			<th>{{ t('user::permission.action') }}</th>
		</tr>
	</thead>
	<tbody>
		{= $i = 1 =}
	{{ loop($group as $g) }}
		<tr>
			<td>{{ $g->name }}</td>
			<td>
				<a href="{{ \Uri::create("$adminUrl/user/permission/edit/") }}{{ $g->id }}" class="btn">{{ t('user::permission.editPermission') }}</a>
			</td>
		</tr>
		{= $i++ =}
	{{ endloop }}
	</tbody>
</table>
{{ else }}
	<p class="empty">Still No Group, please create one to be able to set perssmion.</p>
{{ endif }}

<br >

<a href="{{ \Uri::create("$adminUrl/user/") }}" class="btn">{{ t('user::permission.back') }}</a>