.icon-redo
{
	background-position: -195px -87px;
}
.contact-right
{
	text-align: right;
}
#email_tagsinput
{
    border: 1px solid #A4BECC;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.075) inset;
    color: #696969;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 8px 8px 3px;
}
.msg 
{
    color: #CB3131;
    font-family: Georgia;
    font-size: 12px;
    line-height: 1.75em;
    padding-left: 8px;
}

.emtemplate
{
    padding: 20px;
    margin: 10px;
    border: 1px solid #E2E2E2;
}
.button-green
{
    color:#ffffff;
}
.button-green:hover
{
    color:#ffffff;
}