<!DOCTYPE html>
<html lang="en">
<head>
    {{ include:metadata }}
</head>
<body>

    {{ include:header }}

    <section id="content">
        <div class="container">

            {{ include:breadcrumb }}

            <div class="jumbotron">
                {{ $layoutBody }}
            </div>

            <div class="row">
                {@
                    $posts = Blog::posts(array('limit' => '3'));

                    $count = count($posts);

                    $class = 'col-lg-' . 12 / $count;
                @}

                {{ loop($posts as $post) }}
                <div class="{{ $class }} latest-blog">
                  <h2>{{ $post->title }}</h2>
                  <p>{{ $post->excerpt }}</p>
                  <p><a class="btn btn-primary" href="{{ $post->url }}" role="button">View details »</a></p>
                </div>
                {{ endloop }}
            </div>

        </div>
    </section>

    {{ include:footer }}

</body>
</html>
