{{ Form::start("user/change-password", false, 'login', array('class' => 'form user-form')) }}

	<div class="form-group">
		{{ Form::label('Current Password', 'oldPassword') }}    	
    	{{ Form::password('oldPassword', '', array('class' => 'form-control')) }}      	
    </div>

	<div class="form-group">
		{{ Form::label('New Password', 'newPassword') }}	
    	{{ Form::password('newPassword', '', array('class' => 'form-control')) }}      	
    </div>

    <div class="form-group">
		{{ Form::label('Confirm New Password', 'confPassword') }}
    	{{ Form::password('confPassword', '', array('class' => 'form-control')) }}      	
    </div>

	<div class="form-actions">
		{{ Form::submit('submit', 'Change Password', array('class' => 'btn btn-primary')) }}	
		<a href="{{ \Uri::create("user") }}" class="btn">Back to Profile</a>
	</div>

{{ Form::end() }}