{{ Form::start("user/login") }}

	<div class="form-group">
		{{ Form::label('Email', 'email') }}
		<div class="form-field-block">
			{{ Form::email('email', '', array('id' => 'email', 'placeholder' => 'Enter your email', 'class' => 'form-control')) }}
			{{ if (isset($errors['email'])) }}
				<span class="field-error">{{ $errors['email'] }}</span>
			{{ endif }}
		</div> 
	</div>

	<div class="form-group">
		{{ Form::label('Password', 'password') }}
		<div class="form-field-block">
			{{ Form::password('password', '', array('id' => 'password', 'class' => 'form-control')) }}
			{{ if (isset($errors['email'])) }}
				<span class="field-error">{{ $errors['password'] }}</span>
			{{ endif }}
		</div> 
	</div>

	<div class="form-group">	
		{{ Form::checkbox('remember', 1) }}
		{{ Form::label('Remember me', 'remember') }}
	</div>

	<div class="form-group">
		{{ Form::submit('submit', 'Login', array('id' => 'login', 'class' => 'btn btn-primary')) }}
	</div>

	<hr />

	<div class="forget-password">
        <h4>Forget your password ?</h4>
        <p>
          Don't worry! <a href="{{ url('user/reset-password') }}"  id="forget-password">Click here</a>
          to rest password.
        </p>
      </div>
      <div class="create-account">
        <p>
          Don't have an account? &nbsp; 
          <a href="{{ url('user/register/') }}" id="register-btn" >Click this to register</a>!
        </p>
      </div>

{{ Form::end() }}