<div id="setting-chooser-container">
	<h3 id="setting-title">{{ $title }}</h3>

	{{ Form::start(adminUrl('setting'), 'setting_chooser') }}
		{{ Form::select('setting_choose', $lists, \Uri::current()) }}
	{{ Form::end() }}
</div>

{{ Form::start(adminUrl('setting/save/'.$type), 'setting', false, array('class' => 'form')) }}

	{{ Form::hidden('type', $type) }}

	{{ loop($settings as $set) }}

	{= $class = cycle('odd', 'even') =}

	<div class="form-block {{ $class }}">
		<label for="{{ $set['slug'] }}">{{ $set['name'] }}

			{{ if($set['require']) }}
			<span class="required"></span>
			{{ endif }}
		</label>

		<div class="form-right-block">
			{{ Setting\UI::field($set) }}
			<p>{{ $set['desc'] }}</p>
		</div> <!-- end of form-right-block -->
	</div> <!-- end of form block -->

	{{ endloop }}

	<div class="form-block form-action">
		<button type="submit" class="btn btn-green">{{ t('global.save') }}</button>
	</div> <!-- end of form block -->

{{ Form::end() }}

<script type="text/javascript">

	$('#setting_choose').fancySelect();

	/*var org_value = $('#setting_choose').val();*/

	$('#setting_choose').on('change', function(){
		var val = $('#setting_choose').val();

		if (val == window.location.href) {
			return false;
		} else {
			return window.location.href = val;
		}
	});

	//Generate Spam Filter Key
	$('#spam_filter').after('<span id="keygen">{{ t('setting::setting.auto_generate') }}</span>');

	//Generate Spam Filter Key
	$('#keygen').on('click', function(){
		var key = Reborn.keyGenerate(32);
		$('#spam_filter').val(key);
		$('#spam_filter').focus();
	});

</script>
