	<meta charset="UTF-8">
	<meta name="robots" content="INDEX,FOLLOW" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Reborn Development Team" />
	<title>{{ setting('site_title') }} | {{ $layoutTitle }}</title>
	{{ $metadata }}

	{{ Html::favicon() }}

	{{ $headerStyle }}

	{{ css("style.css") }}

	{{ global_asset('css', 'jqueryui/stupid/jquery-ui-1.10.3.custom.min.css') }}

	{{ global_asset('js', 'jquery.min.js') }}

	{{ global_asset('js', 'jqueryui/jquery-ui-1.10.3.custom.min.js') }}

	{{ $headerScript }}
