	<meta charset="UTF-8">
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta name="robots" content="INDEX,FOLLOW" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="author" content="Reborn CMS Development Team" />
	<meta name="description" content="RebornCMS Dashboard" />
	<meta name="keywords" content="reborn, cms, dashboard" />
	<!--<base href="{{ rbUrl() }}" /> -->

	<link rel="shortcut icon" type="image/x-icon" href="{{ assetPath('img') }}/favicon.ico">

	{{ $metadata }}

	<title>{{ \Setting::get('site_title') .' - '. $layoutTitle }}</title>

	{{ css('reset.css') }}

	{{ css('plugins/tipsy.css') }}
	{{ css('plugins/colorbox/colorbox.css') }}
	{{ css('plugins/jqueryui/stupid/jquery-ui-1.10.3.custom.css') }}

	<!--<link rel="stylesheet/less" href="{{ assetPath() }}less/import.less"> -->

	{{ less('import.less') }}

	{{ if(setting('default_language')) }}
	{{ css('myanmar-language.css') }}
	{{ endif }}

	<!-- {{ js('vendor/less-1.3.3.min.js') }} -->

	{{ $headerStyle }}

	<script type="text/javascript">
		var ADMIN = '{{ $adminUrl }}',
			SITEURL = '{{ rbUrl() }}';
	</script>

	{{ js('vendor/jquery-1.9.0.min.js') }}

	{# js('jquery.min.js') #}


	{{ js('plugins/jquery-plugins.js') }}
	{{ js('jquery.colorbox.js') }}
	{{ js('plugins/jqueryui/jquery-ui-1.10.3.custom.min.js') }}
	{{ js('reborn.js') }}

	{{ $headerScript }}

