<h3>{{ t('comment::comment.label.post_comment') }}</h3>
<div id="comment_form_wrapper">
	<div id="reply_info"></div>
	{{ Form::start('comment/post', 'comment_form') }}
		{{ if (!\Auth::check()) }}
			<div class="field_wrapper">
				<div class="form_label">
					{{ Form::label(t('label.fullname'), 'name') }}
				</div>
				<div class="form_field">
					{{ Form::input('name', '', 'text', array('required' => 'required')) }}
				</div>
			</div> <!-- end of field_wrapper -->
			<div class="field_wrapper">
				<div class="form_label">
					{{ Form::label(t('label.email'), 'email') }}
				</div>
				<div class="form_field">
					{{ Form::email('email', '', array('required' => 'required')) }}
				</div>
			</div> <!-- end of field_wrapper -->
			<div class="field_wrapper">
				<div class="form_label">
					{{ Form::label(t('label.website'), 'url') }}
				</div>
				<div class="form_field">
					{{ Form::url('url', '') }}
				</div>
			</div> <!-- end of field_wrapper -->
		{{ else }}
			{= $user = \Auth::getUser() =}
			<div id="login_info">
				{= $cmt_author = "<a href='". rbUrl('user/profile/'.$user->id) ."' target='_blank'>" . $user->first_name . " " . $user->last_name . "</a>" =}
				{{ t('comment::comment.label.post_comment_as', array('name' => $cmt_author)) }}
				<a href="{{ rbUrl('user/logout') }}" id="logout_link">{{ t('comment::comment.label.logout') }}</a>
			</div>	
		{{ endif }}
			{{ Form::hidden(Setting::get('spam_filter')) }}
			{{ Form::hidden('parent_id', '') }}
			{{ Form::hidden('module', $module) }}
			{{ Form::hidden('content_id', $content_id) }}
			<div class="field_wrapper">
				<div class="form_label">
					{{ Form::label(t('comment::comment.label.message'), 'message') }}
				</div>
				<div class="form_field">
					{{ Form::textarea('message', '') }}
				</div>	
			</div>
			<div class="form_action">
				{{ Form::submit('comment_submit', t('global.submit')) }}
			</div>
	{{ Form::end() }}
</div> <!-- end of comment_form_wrapper -->
