{{ if ($akismet_status === 'no-key') }}
<div class="msg-box">
  	{{ t('comment::comment.message.warning.no-akismet-key') }}
  	<span class="msg-close">
  		<a href="#" title="Close"></a>
  	</span>
</div>
{{ endif }}

{{ if ($akismet_status == false) }}
	<div class="msg-box msg-error">
	  	{{ t('comment::comment.message.warning.wrong-akismet') }}
	  	<span class="msg-close">
	  		<a href="#" title="Close"></a>
	  	</span>
	</div>
{{ endif }}
<div id="internal_menu">
	<a href="{{ adminUrl('comment') }}">{{ t('comment::comment.label.all') }}</a>
	<a href="{{ adminUrl('comment/filter/approved') }}">{{ t('comment::comment.menu.approved') }}</a>
	<a href="{{ adminUrl('comment/filter/pending') }}">{{ t('comment::comment.menu.pending') }}</a>
	<a href="{{ adminUrl('comment/filter/spam') }}">{{ t('comment::comment.label.spam') }}</a>
</div><!-- end of internal_menu -->
{{ if(count($comments) > 0) }}
<div id="note_msg" style="color:red; margin-bottom:10px;">{{ t('comment::comment.message.warning.muti-action-note') }}</div>
<div id="data_table_wrapper">
	{{ Form::start(adminUrl('comment/multiaction', 'multi_action_form')) }}
	<table class="stripe">
		<thead>
			<tr>
				<th width="3%">{{ Form::checkbox('action_to_all', '', array('class' => 'check-all')) }}</th>
				<th width="3%">ID</th>
				<th width="10%">{{ t('label.author') }}</th>
				<th width="15%">{{ t('comment::comment.label.author_email') }}</th>
				<th width="40%">{{ t('comment::comment.label.message') }}</th>
				<th width="5%">{{ t('comment::comment.label.status') }}</th>
				<th width="15%">{{ t('label.actions') }}</th>
			</tr>
		</thead>

		<tbody>
			{{ loop($comments as $comment) }}
			<tr>
				<td>{{ Form::checkbox('action_to[]', $comment->id) }}</td>
				<td>#{{ $comment->id }}</td>
				<td>
					{{ Comment\Lib\Helper::getUserNameWithLink($comment) }}
				</td>

				<td>
					{{ if ($comment->user_id != null) }}
						{{ $comment->author->email }}
					{{ else }}
						 {{ $comment->email }}
					{{ endif }}
				</td>

				<td>
					{{ if ($comment->edit_user != null) }}
						{= 
							$user = Sentry::getUserProvider()->findById($comment->edit_user);
				 			$name = $user->first_name .' '. $user->last_name;
						 =}
						<div class="edit_user_info">
							{{ t('comment::comment.label.edit_info', array('name' => $name)) }}
						</div>	
					{{ endif }}
					<p class="comment_message">{{ $comment->value }}</p>
					<div class="comment_content_info">at {{ ucfirst($comment->module) }} in {{ Comment\Lib\Helper::getContentTitle($comment->content_id, $comment->module, $comment->content_title_field) }}</div>
				</td>

				<td>
					{{ if ($comment->status == 'approved') }}

						{= 
							$status_class = 'label-success';
							$change_info = t('comment::comment.info.unapprove'); 
						=}

					{{ elseif ($comment->status == 'pending') }}

						{= 
							$status_class = 'label-warning';
							$change_info = t('comment::comment.info.approve');
						=}

					{{ else }}

						{= 
							$status_class = 'label-error';
							$change_info = t('comment::comment.info.approve'); 
						=}

					{{ endif }}
					<a href="{{ adminUrl('comment/change-status/'.$comment->id) }}" class="tipsy-tip" title="{{ $change_info }}">
						<span class="label {{ $status_class }}">{{ t('comment::comment.label.'.$comment->status)}}</span>
					</a>
				</td>

				<td>
					<div class="icons-bar">

						{{ if (user_has_access('comment.reply')) }}
							<a href="{{ adminUrl('comment/reply/'.$comment->id) }}" title="{{ t('comment::comment.label.reply') }}" class="tipsy-tip comment-reply-btn"><i class="icon-reply"></i></a>
						{{ endif }}

						{{ if (user_has_access('comment.edit')) }}
							<a href="{{ adminUrl('comment/edit/'.$comment->id) }}" title="{{ t('global.edit') }}" class="tipsy-tip comment-edit-btn"><i class="icon-edit"></i></a>

							{{ if ($comment->status != 'spam') }}
								<a href="{{ adminUrl('comment/change-status/'.$comment->id.'/spam') }}" title="{{ t('comment::comment.label.mark_as_spam') }}" class="tipsy-tip"><i class="icon-ban"></i></a>
							{{ endif }}
						{{ endif }}

						{{ if (user_has_access('comment.delete')) }}
							<a href="{{ adminUrl('comment/delete/'.$comment->id) }}" title="{{ t('global.delete') }}" class="confirm_delete_comment tipsy-tip"><i class="icon-remove"></i></a>
						{{ endif }}
					</div> <!-- end of icons-bar -->
				</td>
			</tr>
			{{ endloop }}	
		</tbody>
	</table>
	<div class="button-wrapper multiaction" id="delete_select">
		{{ Form::select('sel_multi_action', array('none' => '-- '.t('comment::comment.label.select_action').' --','approved' => t('comment::comment.label.approved'), 'pending' => t('comment::comment.label.unapproved'), 'spam' => t('comment::comment.label.mark_as_spam'), 'delete' => t('global.delete'))) }}
		{{ Form::submit('multi_action', t('comment::comment.label.apply_selected'), array('class' => 'btn', 'disabled' => 'disabled', 'id' => 'multi_action_btn')) }}
		{{ Form::end() }}
	</div> 
	{{ if (isset($pagination)) }}
		{{ $pagination }}
	{{ endif }}
</div> <!-- end of data_table_wrapper -->
{{ else }}
	<div id="no-index-data">
		{{ if ($list_type == 'all') }}
			{= $list_type = '' =}
		{{ endif }}

		{{ t('comment::comment.no_comment', array('type' => $list_type)) }}
	</div>
{{ endif }}