{{ if ($akismet_status === 'no-key') }}
<div class="show-alert">
  	{{ t('comment::comment.message.warning.no-akismet-key') }}
  	<a href="#" class="close">&times;</a>
</div>
{{ endif }}

{{ if ($akismet_status == false) }}
	<div class="show-alert show-alert-error">
  	{{ t('comment::comment.message.warning.wrong-akismet') }}
  	<a href="#" class="close">&times;</a>
	</div>
{{ endif }}
<div id="internal_menu">
	<a href="{{ adminUrl('comment') }}">{{ t('comment::comment.label.all') }}</a>
	<a href="{{ adminUrl('comment/filter/approved') }}">{{ t('comment::comment.label.approved') }}</a>
	<a href="{{ adminUrl('comment/filter/pending') }}">{{ t('comment::comment.label.pending') }}</a>
	<a href="{{ adminUrl('comment/filter/spam') }}">{{ t('comment::comment.label.spam') }}</a>
</div><!-- end of internal_menu -->

{{ if(count($comments) > 0) }}
<div id="data_table_wrapper">
	{{ Form::start(adminUrl('comment/multiaction', 'multi_action_form')) }}
	<table class="stripe">
		<thead>
			<tr>
				<th width="3%">{{ Form::checkbox('action_to_all', '', array('class' => 'check-all')) }}</th>
				<th width="10%">{{ t('label.author') }}</th>
				<th width="15%">{{ t('comment::comment.label.author_email') }}</th>
				<th width="44%">{{ t('comment::comment.label.message') }}</th>
				<th width="5%">{{ t('comment::comment.label.status') }}</th>
				<th width="13%">{{ t('label.actions') }}</th>
			</tr>
		</thead>

		<tbody>
			{{ loop($comments as $comment) }}
			{{ if ($comment->user_id != null) }}

				{= 
					$user = Sentry::getUserProvider()->findById($comment->user_id);
				 	$name = $user->first_name .' '. $user->last_name;
					$email = $user->email;
				 	$url = rbUrl('user/profile/'.$comment->user_id);
				=}

			{{ else }}

				{= 
					$name = $comment->name;
				 	$email = $comment->email;
			 		$url = $comment->url;
			 	=}

			{{ endif }}
			<tr>
				<td>{{ Form::checkbox('action_to[]', $comment->id) }}</td>
				<td>
					{{ if (!empty($url)) }}
						<a href="{{ $url }}">{{ $name }}</a>
					{{ else }}
						{{ $name }}
					{{ endif }}
				</td>

				<td>{{ $email }}</td>

				<td>
					{{ if ($comment->edit_user != null) }}
						{= 
							$user = Sentry::getUserProvider()->findById($comment->edit_user);
				 			$name = $user->first_name .' '. $user->last_name;
						 =}
						<div class="edit_user_info">
							{{ sprintf(t('comment::comment.label.edit_info)'), $name) }}
						</div>	
					{{ endif }}
					<p class="comment_message">{{ $comment->value }}</p>
					<div class="comment_content_info">at {{ ucfirst($comment->module) }} in {{ Comment\Lib\Helper::getContentTitle($comment->content_id, $comment->module, $comment->content_title_field) }}</div>
				</td>

				<td>
					{{ if ($comment->status == 'approved') }}

						{= 
							$status_class = 'label-success';
							$change_info = t('comment::comment.label.unapproved'); 
						=}

					{{ elseif ($comment->status == 'pending') }}

						{= 
							$status_class = 'label-warning';
							$change_info = t('comment::comment.label.approved');
						=}

					{{ else }}

						{= 
							$status_class = 'label-error';
							$change_info = t('comment::comment.label.approved'); 
						=}

					{{ endif }}
					<a href="{{ adminUrl('comment/change-status/'.$comment->id) }}" class="tipsy-tip" title="{{ $change_info }}">
						<span class="label {{ $status_class }}">{{ $comment->status }}</span>
					</a>
				</td>

				<td>
					<a href="{{ adminUrl('comment/reply/'.$comment->id) }}" title="{{ t('comment::comment.label.reply') }}" class="ico-button button-blue tipsy-tip comment-reply-btn"><i class="icon-redo icon-white"></i></a>
					<a href="{{ adminUrl('comment/edit/'.$comment->id) }}" title="{{ t('global.edit') }}" class="ico-button button-green tipsy-tip comment-edit-btn"><i class="icon-edit icon-white"></i></a>
					{{ if ($comment->status != 'spam') }}
						<a href="{{ adminUrl('comment/change-status/'.$comment->id.'/spam') }}" title="{{ t('comment::comment.label.mark_as_spam') }}" class="ico-button button-orange tipsy-tip"><i class="icon-disabled icon-white"></i></a>
					{{ endif }}
					<a href="{{ adminUrl('comment/delete/'.$comment->id) }}" title="{{ t('global.delete') }}" class="ico-button button-red confirm_delete tipsy-tip"><i class="icon-trash2 icon-white"></i></a>
				</td>
			</tr>
			{{ endloop }}	
		</tbody>
	</table>
	<div class="button-wrapper multiaction" id="delete_select">
		{{ Form::select('sel_multi_action', array('none' => '-- Select action --','approved' => t('comment::comment.label.approved'), 'pending' => t('comment::comment.label.unapproved'), 'spam' => t('comment::comment.label.mark_as_spam'), 'delete' => t('global.delete'))) }}
		{{ Form::submit('multi_action', t('comment::comment.label.apply_selected'), array('class' => 'button', 'disabled' => 'disabled', 'id' => 'multi_action_btn')) }}
		{{ Form::end() }}
	</div> 
	{{ if (isset($pagination)) }}
		{{ $pagination }}
	{{ endif }}
</div> <!-- end of data_table_wrapper -->
{{ else }}
	<div id="no-index-data">
		{{ if ($list_type == 'all') }}
			{= $list_type = '' =}
		{{ endif }}

		{{ sprintf(t('comment::comment.no_comment'), $list_type) }}
	</div>
{{ endif }}

<script type="text/javascript">
jQuery(function(){
	$('.comment-reply-btn, .comment-edit-btn').colorbox({
		width:"45%",
		onComplete : function(){
			$('#reply-edit-btn').on('click', function(e){
				e.preventDefault();
				var form_action = $('#re-form').attr('action');
				var form_val = $('#re-form').serialize();
				$.post(form_action, form_val, function(data){
					if(data == "true") {
						window.location.reload();
						$.colorbox.close();
					} else {
						var error_msg = "Sorry something went wrong. Please try again.";
						$('#ajax-form-error').html(error_msg);
					}
				});
			})
		}
	});

	$('#sel_multi_action').on('change', function(){
		var sel_val = $(this).val();
		var btn = $('#multi_action_btn');
		btn.attr('class', 'button');

		if( $('input[name="action_to[]"]:checked, .check-all:checked').length >= 1 && $('#sel_multi_action').val() != 'none'){
			$(".button-wrapper .button").removeAttr('disabled');
		} else {
			$(".button-wrapper .button").attr('disabled', 'disabled');
		}

		switch (sel_val) {
			case "approved" :
				btn.addClass('button-green');
			break;

			case "pending" :
				btn.addClass('button-yellow');
			break;

			case "spam" :
				btn.addClass('button-orange');
			break;

			case "delete" :
				btn.addClass('button-red');
				btn.addClass('confirm_delete');
			break;

			default :
				btn.attr('class', 'button');
				btn.attr('disabled', 'disabled');
		}
	});

	$('input[name="action_to[]"], .check-all').live('click', function () {

		if( $('input[name="action_to[]"]:checked, .check-all:checked').length >= 1 && $('#sel_multi_action').val() != 'none'){
			$(".button-wrapper .button").removeAttr('disabled');
		} else {
			$(".button-wrapper .button").attr('disabled', 'disabled');
		}

	});

	$('.comment_message').each(function(){
		var height = $(this).height();
		if (height > 100) {
			$(this).height(100).css('overflow', 'hidden').after('<a href="#" class="com_read_more">( Read More )</a>');
		};
	});

	$('.com_read_more').click(function(e){
		e.preventDefault();
		$(this).toggleClass('hide');
		if ($(this).hasClass('hide')) {
			$(this).siblings('.comment_message').css('height', 'auto');	
			$(this).text('( Hide )');
		} else {
			$(this).siblings('.comment_message').css('height', '100px');	
			$(this).text('( Read More )');
		}
		
	});
	
});
</script>