<div class="widget widget-user" >
	<h2 class="widget-title">{{ $title }}</h2>

	<div class="widget-body">
		{{ Form::start("user/login") }}
			{{ Security::CSRField('user') }}
			{{ Form::email('email', '', array('placeholder' => 'Email')) }}
			{{ Form::password('password', '', array('placeholder' => 'Password')) }}
			{{ Form::checkbox('remember', 1) }}
			{{ Form::label('Remember me', 'remember') }}
			<p>{{ Form::submit('submit', 'Login', array('class' => 'widget-login', 'class' => 'btn')) }}</p>
			<p>
				<a href="{{ \Uri::create("/user/register") }}">Create a new account</a> <br/>
				<a href="{{ \Uri::create("/user/reset-password") }}">Forget Password?</a>
			</p>
		{{ Form::end() }}
	</div>
</div>