{{ if(count($blogs) > 0) }}
	{{ loop($blogs as $blog) }}
	<div class="blog_single">
		<h2 class="blog_title"><a href="{{ rbUrl('blog/'.$blog['slug']) }}">{{ $blog['title'] }}</a></h2>
		{{ if($blog['attachment'] != null) }}
			<div class="featured_img">
				<img src="{{ $blog['attachment'] }}" alt="{{ $blog['title'] }}">
			</div>
		{{ endif }}
		<div class="blog_meta">
			
			<span class="author">
				<a href="{{ rbUrl('blog/author/'.$blog['author']['id']) }}">
					{{ $blog['author']['first_name'].' '.$blog['author']['last_name'] }}
				</a>
			</span>

			<span class="category">
				<a href="{{ rbUrl('blog/category/'.$blog['category']['slug']) }}">
					{{ $blog['category']['name'] }}
				</a>
			</span>

			<span class="tags">
				{{ loop($blog['tags'] as $tag) }}
					<a href="{{ rbUrl('blog/tag/'.$tag) }}">
						{{ $tag }}
					</a>
				{{ endloop }}
			</span>
			
			<span class="date">
				{= $date = date_create($blog['created_at']) =}
				{{ date_format($date, 'Y-m-d h:i a') }}
			</span>

		</div> <!-- end of blog_meta -->
		<div class="blog_excerpt">{{ $blog['excerpt'] }}</div>
	</div> <!-- end of blog_single -->
	{{ endloop }}
	{{ $pagination }}	
{{ else }}
	<div class="no-content">
		There is no content for this year or peroid.
	</div>
{{ endif }}
