<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:wfw="http://wellformedweb.org/CommentAPI/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
>
    <channel>
        <title>{{ Setting::get('site_title') }}</title>
        <description>{{ sprintf(t('blog::blog.rss_posts_title'), Setting::get('site_title')) }}</description>
        <link>{{ rbUrl() }}</link>
        <language>en-US</language>
        <copyright>Copyright {{ gmdate("Y", time()) }}</copyright>
        <generator>Reborn CMS</generator>
        {{ if(count($blogs) > 0) }}
            {{ loop($blogs as $blog) }}
        <item>
            <title><![CDATA[{{ $blog->title }}]]></title>
            <description><![CDATA[{{ $blog->excerpt }}]]></description>
            <link>{{ $blog->url }}</link>
            <guid isPermaLink="true">http://www.yourdomain.com/rssfeedfolder/file1.html</guid>
            <pubDate>{{ $blog->created_at }}</pubDate>
        </item>
            {{ endloop }}
        {{ endif }}
    </channel>
</rss>
