<div class="blog_single_wrapper">
	<h2 class="blog_title">{{ $blog->title }}</h2>
	<div class="blog_meta">

		<span class="author">
			<a href="{{ $blog->author_url }}">
				{{ $blog->author_name }}
			</a>
		</span>

		<span class="category">
			<a href="{{ $blog->category_url }}">
				{{ $blog->category_name }}
			</a>
		</span>

		{{ if($blog->has_tags) }}
		<span class="tags">
			{{ $blog->tags }}
		</span>
		{{ endif }}

		<span class="date">
			{{ $blog->post_date }}
		</span>
		{{ implode($blog->lang_front, '|') }}

	</div> <!-- end of blog_meta -->
	<div class="blog_body">{{ $blog->content }}</div>
</div>
<!-- call comments -->
{{ if (\Module::isEnabled('comment')) }}
	{{ Comment::get($blog->id, 'blog', $blog->comment_status) }}
{{ endif }}
