/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/*
 * Style for Reborn CMS Default Theme
 */

 /** Basic Typography and clearfix **/
* {
	line-height: 1.231;
	text-rendering: optimizeLegibility;
	font-size: 100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: 100%;
}
html {
	text-rendering: optimizeLegibility;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body {
	outline: none;
	font-family:"Open Sans", Zawgyi-One, Tahoma, Helvetica, Sans-Serif;
	font-size: 13px;
}

h1,h2, h3, h4, h5, h6, p, a, span, { text-rendering: optimizeLegibility; }

::-moz-selection { background: #3598db; color: #ffffff; text-shadow: none; }
::selection { background: #3598db; color: #ffffff; text-shadow: none; }

a {
	text-decoration: none;
	color: #1570A6;
	outline: none;
}
a:hover {
	color: #24459A;
	outline: none;
}
a:active { color: #24459A; outline: none;}

input[type="search"] {
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
	color:#4e4e4e;
	margin:0;
	text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight: normal;
	color: #919191;
}
h1 {
	font-size:28px;
	line-height: 1.5em;
}
h1 small {
	font-size: 18px;
}

h2 {
	font-size:26px;
	line-height: 1.5em;
}
h2 small {
	font-size: 18px;
}

h3 {
	font-size:20px;
	line-height: 1.5em;
}
h3 small {
	font-size: 14px;
}

h4 {
	font-size:16px;
	line-height: 1.5em;
}
h4 small {
	font-size: 12px;
}

h5 {
	font-size:14px;
	line-height: 1.5em;
}

h6 {
	font-size:12px;
	line-height: 1.5em;
}

p {
	margin: 0 0 10px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 13px;
    font-weight: normal;
    line-height: 1.7em;
	color: #4e4e4e;
}

p small {
	font-size: 11px;
	color: #919191;
}

ul, ol {
  padding: 0;
  margin: 0 0 9px 25px;
}
ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 1.8em;
  margin-bottom: 5px;
  color: #4e4e4e;
}
ul.no-list, ol.no-list {
  margin-left: 2px;
  list-style: none;
}
dl {
  margin-bottom: 18px;
}
dt, dd {
  line-height: 18px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 9px;
}
hr {
	margin: 18px 0;
	border: 0;
	border-top: 1px solid #919191;
	border-bottom: 1px solid #F5F5F5;
}
img {
	padding: 10px;
	background: #fbfbfb;
	border: 1px solid #f0f0f0;
	margin: 10px;
}
table {
	border: 1px solid #efefef;
	margin: 10px 0;
}
table th, table td {
	border: 1px solid #efefef;
	padding: 10px;
	color: #545454;
}
.pagination {
	height: 35px;
	padding: 5px;
}
.pagination ul {
	height: 35px;
	margin: 0;
}
.pagination ul li {
	list-style: none;
	float: left;
	margin: 0 5px;
}
.pagination ul li a {
	display: block;
	padding: 5px 10px;
	background: #f0f0f0;
	border: 1px solid #CFCFCF;
}
.pagination ul li:hover a, .pagination ul li a.active {
	background: #DAD8D8;
}

.clearfix {
	display  : block;
	*zoom    : 1;
	*display : inline-block;
}
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}

/* Global Class Style */
.wrapper {
	width: 100%
}
.container {
	width: 960px;
	margin: 0 auto;
}
.red-bg {
	background: #EA5C5C;
}
.black-bg {
	background: #444444;
}
.green-bg {
	background: #93D87C;
}
.blue-bg {
	background: #6FC9D8;
}

/* Button Style */
.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	text-decoration: none;
	background: #444444;
	color: #ffffff;
	cursor: pointer;
}
a.btn {
	padding: 12px 20px 13px;
	margin-top: 1px;
}
.btn:hover {
	background: #262626;
	color: #ffffff;
}
.btn-red {
	background: #EA5C5C;
}
.btn-red:hover {
	background: #EB2F2F;
}
.btn-green {
	background: #93D87C;
}
.btn-green:hover {
	background: #5CC63A;
}
.btn-blue {
	background: #6FC9D8;
}
.btn-blue:hover {
	background: #3EB0C4;
}

/* Form Style */
input, textarea {
	border: 1px solid #B5B5B5;
	padding: 8px 10px;
	margin: 10px;
	color: #545454;
}
input:focus,
input:hover,
textarea:focus,
textarea:hover {
	border: 1px solid #757575;
}
input[type=file] {
	background: #efefef;
	border: 1px solid #efefef;
}
input[type=submit] {
	width: auto;
	padding: 10px 20px;
}
span.required:before {
	content: '*';
	color: #f00;
}
.contact-form-block {
	padding: 5px 20px;
}
.contact-form-block input, .contact-form-block textarea {
	width: 80%;
	resize: vertical;
}
.contact-form-block input[type=submit] {
	width: auto;
}
.contact-form-block input[type=submit]:hover {
	border: none;
}
.field-error {
	color: #EB2F2F;
	display: block;
	font-style: oblique;
}

/* Header Style */

#logo {
	float: left;
	padding: 10px;
}
#logo a {
	color: #554545;
}
.black-bg #logo a, .red-bg #logo a {
	color: #ffffff;
}

nav {
	float: right;
	padding: 14px 0 0;
}
nav ul {
	margin: 0;
	padding-top: 5px;
}
nav li {
	float: left;
	list-style: none;
	position: relative;
	margin-bottom: 0;
}
nav li a {
	display: block;
	padding: 10px 16px;
	color: #575757;
	font-size: 14px;
}
.black-bg nav li a, .red-bg nav li a {
	color: #CDCDCD;
}
nav li a:hover, nav li.active a {
	color: #313131;
}
.black-bg nav li a:hover,
.black-bg nav li.active a,
.red-bg nav li a:hover,
.red-bg nav li.active a {
	color: #ffffff;
}

nav ul ul {
	display: none;
	position: absolute;
	border: 1px solid #f9f9f9;
	border-top: none;
	padding: 0 10px;
	background: #f9f9f9;
	border-left: 5px solid #f0f0f0;
}
.black-bg nav ul ul {
	border: 1px solid #444444;
	border-top: none;
	background: #444444;
	border-left: 5px solid #515151;
}
.red-bg nav ul ul {
	border: 1px solid #EA5C5C;
	border-top: none;
	background: #EA5C5C;
	border-left: 5px solid #EF7474;
}
.green-bg nav ul ul {
	border: 1px solid #93D87C;
	border-top: none;
	background: #93D87C;
	border-left: 5px solid #AEE79B;
}
.blue-bg nav ul ul {
	border: 1px solid #6FC9D8;
	border-top: none;
	background: #6FC9D8;
	border-left: 5px solid #87D8E5;
}
nav ul li:hover > ul {
	display: block;
}
nav ul ul li {
	min-width: 150px;
	display: block;
	float: none;
	border-top: 1px solid #f0f0f0;
}
.black-bg nav ul ul li {
	border-top: 1px solid #515151;
}
.red-bg nav ul ul li {
	border-top: 1px solid #EF7474;
}
.green-bg nav ul ul li {
	border-top: 1px solid #AEE79B;
}
.blue-bg nav ul ul li {
	border-top: 1px solid #87D8E5;
}
nav ul ul li:first-child {
	border-top: none;
}
nav ul ul li a {
	/* color: #454545; */
}
nav ul ul li a:hover {
	/* color: #101010; */
}

.alert {
	border: 1px solid #3EB0C4;
	background: #3598DB;
    left: 50%;
    margin-left: -480px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: 0px;
    width: 940px;
    color: #ffffff;
}
.alert-error {
	background: #EA5C5C;
	border: 1px solid #EB2F2F;
}
.alert-success {
	border: 1px solid #5CC63A;
	background: #93D87C;
}

/* Content Style */
#main-content {
	margin: 10px 0;
}
#breadcrumb {
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #B9B9B9;
}
#breadcrumb a {
	padding: 10px 10px 10px 0;
}
#breadcrumb a:after {
	content:"/";
	margin-left: 10px;
}
#breadcrumb span {
	color: #454545;
}
#content {
	float: left;
	width: 700px;
}

/* Sidebar Style */
#sidebar {
	float: right;
	width: 240px;
}
.widget {
	margin-bottom: 20px;
}
.widget-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 4px;
	padding: 6px 10px;
	border-bottom: 4px solid #B9B9B9;
}
.red-theme .widget-title {
	border-bottom: 4px solid #EA5C5C;
}
.green-theme .widget-title {
	border-bottom: 4px solid #93D87C;
}
.blue-theme .widget-title {
	border-bottom: 4px solid #6FC9D8;
}

.widget-body {
	padding: 10px;
	color: #797979;
}
.widget-user .user-widget {
	margin-top: 10px;
}

/* Blog Style */
.blog_single {
	border-bottom: 1px solid #B9B9B9;
	padding: 15px 10px 35px 0;
	position: relative;
}
.blog_single:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}
.blog_single:last-child {
	border-bottom: none;
}
.blog_title {
	font-size: 18px;
	margin-bottom: 10px;
}
.featured_img {
	text-align: center;
	float: left;
	margin: 0 20px 10px 0;
}
.featured_img img {
	margin: 0;
}
.blog_single .blog_meta {
	margin-bottom: 10px;
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.blog_single_wrapper .blog_meta {
	margin-bottom: 10px;
}
.blog_meta .author, .blog_meta .category, .blog_meta .tags, .blog_meta .date {
	margin-right: 10px;
}
.blog_meta .author:before {
	content: 'Author : {';
	color: #797979;
}
.blog_meta .author:after {
	content: '}';
	color: #797979;
}
.blog_meta .category:before {
	content: 'Category : {';
	color: #797979;
}
.blog_meta .category:after {
	content: '}';
	color: #797979;
}
.blog_meta .tags:before {
	content: 'Tags : {';
	color: #797979;
}
.blog_meta .tags:after {
	content: '}';
	color: #797979;
}
.blog_meta .tags a:after {
	content: ',';
}
.blog_meta .tags a:last-child:after {
	content: '';
}
.blog_single .blog_meta .date {
	position: absolute;
	right: 0;
	color: #717171;
}
.blog_single_wrapper .blog_meta .date {
	color: #717171;
}
.blog_excerpt {
	line-height: 1.7em;
	margin: 10px 0;
}
.no-content {
	margin: 20px;
	border: 1px solid #efefef;
	background: #fafafa;
	padding: 20px;
	color: #545454;
	font-size: 16px;
}

/* Comment Style */
#comment_area h3 {
	margin-bottom: 10px;
}
#reply_info {
	font-style: oblique;
	color: #5CC63A;
}
#login_info {
	margin: 10px 0;
}
.gravi img {
	padding: 4px;
}


/* Footer Style */
#footer {
	border-top: 1px solid #B9B9B9;
	padding: 10px 0;
}
#footer p {
	text-align: center;
	margin: 0;
}

/** Page Not Found Style **/
.err-404 {
	margin: 25px;
	padding: 20px;
	color: #f00;
	border: 1px solid #ccc;
}
.err-404 h2 {
	padding-bottom: 10px;
	border-bottom: 1px solid #efefef;
	color: #767676;
}
.err-404 p {
	color: #FBFBFB;
	font-size: 80px;
	text-align: center;
	margin-top: 35px;
	font-weight: bold;
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}
