<div id="themes-wrapper">


<div id="active-theme">
	{{ loop($themes as $name => $theme) }}
		{{ if ($active == $name) }}

			{{ if (isset($theme['screenshot'])) }}
			<img src="{{ rbUrl().$theme['screenshot'] }}" alt="{{ $theme['name'] }}" class="screenshot activeshot" />
			{{ endif }}

			<h2>{{ $theme['name'] }}</h2>	
			<h3>By <a href="{{ $theme['website'] }}" target="_blank">{{ $theme['author'] }}</a></h3>
			<p>{{ $theme['description'] }}</p>
			<p>Version {{ $theme['version'] }}</p>
		{{ endif }}
 	{{ endloop }}
</div>

	
<!-- List Other Themes except Activated Theme -->
<div id="list-themes">
	<ul>	
	{{ loop($themes as $name => $theme) }}
		{{ if ($active != $name && $theme != null ) }}
		
		<li>
			{{ if (isset($theme['screenshot'])) }}
			<img src="{{ rbUrl().$theme['screenshot'] }}" alt="{{ $theme['name'] }}" class="screenshot" />
			{{ endif }}

			<h2>{{ $theme['name'] }}</h2>	
			<h3>By <a href="{{ $theme['website'] }}" target="_blank">{{ $theme['author'] }}</a></h3>
			<p>{{ $theme['description'] }}</p>
			<p>Version {{ $theme['version'] }}</p>

			<a href="{{ adminUrl("theme/activate/".$name) }}" class="action_links">{{ t('theme::theme.activate.name') }}</a> |
			<a href="{{ adminUrl("theme/delete/".$name) }}" class="action_links confirm_delete">{{ t('theme::theme.delete.name') }}</a>

		</li>

		{{ endif }}
	{{ endloop }}
	</ul>
</div> <!-- end of div#list-themes -->

</div> <!-- end of div#themes-wrapper -->