{{ Form::start("$adminUrl/theme/upload", 'theme_upload', true, array('class' => 'form')) }}
<div class="form-block">
    <label for="">{{ t('theme::theme.modToolbar') }}<span class="required"></span></label>
      
    <div class="form-right-block">
    	{{ Form::file('file', array('class' => 'rounded-corner')) }}
       <p>{{ t('theme::theme.zipFormat') }}</p>
    </div> <!-- end of form-right-block -->
</div> <!-- end of form block -->

<div class="form-block">
	<label for="">Upload theme for :</label>

	<div class="form-right-block">
		{{ Form::select('upload_path', array('main' => 'Main', 'share' => 'Share'), 'main') }}
	</div>

</div>

<div class="form-block form-action">
	{{ Form::submit('submit', t('theme::theme.upload.name'), array('id' => 'edit', 'class' => 'btn btn-green')) }}
	<a href="{{ \Uri::create("$adminUrl/theme/") }}" class="btn">{{ t('theme::theme.cancel') }}</a>
</div> <!-- end of form block -->

{{ Form::end() }}