{{ Form::start("$adminUrl/theme/upload", 'theme_upload', true, array('class' => 'form')) }}
<div class="form-block">
    <label for="">Upload theme file<span class="required"></span></label>
      
    <div class="form-right-block">
    	{{ Form::file('file', array('class' => 'rounded-corner')) }}
       <p>File must be in .zip format.</p>
    </div> <!-- end of form-right-block -->
</div> <!-- end of form block -->

<div class="form-block form-action">
	{{ Form::submit('submit', 'Upload', array('id' => 'edit', 'class' => 'button button-green')) }}
	<a href="{{ \Uri::create("$adminUrl/theme/") }}" class="button button-red">Cancel</a>
</div> <!-- end of form block -->

{{ Form::end() }}