<h3>{{ t('contact::contact.m_detail') }}</h3>
<br>
<dl>
	<dt>
		{{ t('contact::contact.labels.subject') }}
	</dt>
	<dd>
		- {{ $mail->subject }}
	</dd>
	<br>
	<dt>
		{{ t('label.name') }}
	</dt>
	<dd>
		
		- {{$mail->name}}
	</dd>
	<br>
	<dt>
		{{ t('label.email') }}
	</dt>
	<dd>
		- <a href="mailto:{{$mail->email}}">{{$mail->email}}</a>
	</dd>
	<br>
	<dt>
		{{ t('contact::contact.labels.ip') }}
	</dt>
	<dd>
		- {{$mail->ip}}
	</dd>
	<br>
	<dt>
		{{ t('contact::contact.labels.send_at') }}
	</dt>
	<dd>
		- {{$mail->created_at}}
	</dd>
	<br>
	{{ if($mail->attachment) }}
	<dt>
		{{ t('contact::contact.labels.attachment') }}
	</dt>
	<dd> - <a href="{{ adminUrl('contact/download/'.$mail->id ) }}"> {{ $mail->attachment_name }} </a></dd>
	<br>
	{{ endif }}
	{{ if($field) }}
	{{ loop($field as $key => $value )}}
		<dt>{{ $key }} </dt>
		<dd> - {{ $value }}</dd>
		<br>
	{{ endloop }}
	{{ endif }}
	<dt>
		{{ t('contact::contact.labels.message') }}
	</dt>
	<dd>
		- {{$mail->message}}
	</dd>
</dl>
<hr>
<div class="button-wrapper">
	
	<a href="{{ admin_url("contact/send-mail/".$mail->id) }}" title="{{ t('contact::contact.labels.reply') }}" class="btn tipsy-tip">
		<i class="icon-reply icon-white"></i>
		{{ t('contact::contact.labels.reply') }}
	</a>
	<a href="{{ admin_url("contact/delete/".$mail->id) }}" title="{{ t('global.delete') }}" class="btn btn-red tipsy-tip confirm_delete">
		<i class="icon-remove icon-white"></i>
	</a>
</div><!--- end of f-right -->
<hr>
