<div id="cat-edit-box">
	<div id="edit-msg"></div>
	{{ if(!isset($method)) }}
		{= $method = 'create' =}
	{{ endif }}
	{{ Form::start(adminUrl('blog/category/'.$method),'blog-cat-edit', false, array('class' => 'form')) }}
		
		<div style="display:none; ">
			{{ Form::hidden('cat_id', isset($cat->id) ? $cat->id : '', array('class' => 'xx-large thin', 'id' => 'edit_id')) }}
		</div>
		
		<div class="c-a-b">
			
			{{ Form::label(t('blog::blog.title').'<span class="required"></span>', 'name') }}

			{{ if(isset($val_errors['name'])) }}
				<span class="error">{{ $val_errors['name'] }}</span>
			{{ endif }}

			{{ Form::input('name', isset($cat->name) ? $cat->name : '', 'text', array('class' => 'xx-large thin', 'id' => 'cat_'.$method.'_title')) }}

		</div> <!-- end of div.c-a-b -->

		<div class="c-a-b">

			{{ Form::label(t('blog::blog.slug').'<span class="required"></span>', 'slug') }}
			
			{{ if(isset($val_errors['slug'])) }}
				<span class="error">{{ $val_errors['slug'] }}</span>
			{{ endif }}	
			{{ Form::input('slug', isset($cat->slug) ? $cat->slug : '', 'text', array('class' => 'xx-large thin', 'id' => 'cat_'.$method.'_slug')) }}
		
		</div> <!-- end of div.c-a-b -->

		<div class="c-a-b">

			{{ Form::label(t('blog::blog.parent'), 'cat_selected') }}

			{{ if ($method == 'edit') }}
				{= $from = 'catEdit' =}
			{{ else }}
				{= $from = 'catCreate' =}
			{{ endif }}

			{= $cat_id = (isset($cat->id)) ? $cat->id : null =}

			{{ Form::select('cat_selected', Blog\Lib\Helper::catList($from, $cat_id),isset($cat->parent_id) ? $cat->parent_id : 0, array('class' => 'xx-large thin')) }}

		</div> <!-- end of div.c-a-b -->

		<div class="c-a-b">

			{{ Form::label(t('blog::blog.description'), 'description') }}

			{{ Form::textarea('description', isset($cat->description) ? $cat->description : '', array('style' => 'width:90%;height:40%;')) }}

		</div> <!-- end of div.c-a-b -->

		<div class="c-a-b">

		{{ if ($method == 'create') }}
			{= $buttonVal = t('blog::blog.add_new_cat') =}
		{{ else }}
			{= $buttonVal = t('blog::blog.edit_cat') =}
		{{ endif }}
		
		{{ Form::submit('add-new-cat-btn', $buttonVal, array('class' => 'btn btn-green','id' => 'add-new-cat-btn')) }}

		</div> <!-- end of div.c-a-b -->

	{{ Form::end() }}
</div> <!-- end of #cat-edit-box -->

<script type="text/javascript">
	jQuery(function(){
		Reborn.slugGenerator('#cat_{{ $method }}_title', '#cat_{{ $method }}_slug');
	});
</script>