body {
	font-family: 'Ubuntu', Yunghkio, Helvetica, Arial, sans-serif;
	background: #fff;
	line-height: 1.8em;
}

a {
	-webkit-transition:all 0.15s ease-out 0;
	-moz-transition:all 0.15s ease-out 0;
	transition:all 0.15s ease-out 0;
}

label {
	font-weight: normal;
}

/* Mozilla based browsers */
::-moz-selection {
       background-color: #428bca;
       color: #fff;
}

/* Works in Safari */
::selection {
       background-color: #428bca;
       color: #fff;
}

.navbar-default {
	-webkit-transition:all 0.15s ease-out 0;
	-moz-transition:all 0.15s ease-out 0;
	transition:all 0.15s ease-out 0;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(25%,#fff),color-stop(100%,rgba(255,255,255,0.83)));
	background: linear,to bottom,#fff 0%,#fff 25%,rgba(255,255,255,255.83) 100%;
	background: -moz-linear-gradient(#fff, rgba(255,255,255,0.83));
}

.navbar-default .navbar-nav>.active>a {
	background: #428bca;
	color: #fff;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	background: #357ebd;
	color: #fff;
}

.navbar-nav>li>a {
	line-height: inherit;
}

/*
	Main Content Layouts
*/

#content {
	background: #f9f9f9;
	padding: 70px 0;
	min-height: 600px;
}	

.latest-blog h2 {
	font-size: 22px;
	margin-bottom: 15px;
}

/*
	Footer Styles
*/

footer {
	padding: 40px 0;
	color: #999;
	border-top: 1px solid #e5e5e5;
	text-align: center;
}

/*
	Widget Styles
*/

.widget {
	background: #fff;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.widget-title {
	margin-top: 0px; 
	font-size: 20px;
}

.widget ul, .widget ol {
	padding-left: 5px;
	list-style: none;
}

/*
	Blog Templates
*/

.blog_single {
	border-bottom: 1px solid #efefef;
	padding-bottom: 50px;
	margin-bottom: 20px;
}

.blog_excerpt { margin-bottom: 20px; }

.blog_body img {
	max-width: 100%;
}

.blog_meta {
	font-size: 12px;
	margin-bottom: 15px;
}

.date { margin-left: 10px; }

.tags a {
	background-color: #767676;
	border-radius: 0 2px 2px 0;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: 1.2727272727;
	margin: 2px 4px 2px 10px;
	padding: 3px 7px;
	position: relative;
}

.tags a:before {
	border-top: 10px solid transparent;
	border-right: 8px solid #767676;
	border-bottom: 10px solid transparent;
	content: "";
	height: 0;
	position: absolute;
	top: 0;
	left: -8px;
	width: 0;
}

.tags a:after {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	height: 4px;
	position: absolute;
	top: 8px;
	left: -2px;
	width: 4px;
}

.language a {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background: #428bca;
	color: #fff;
	margin-left: 20px;
}

.field-error {
	font-size: 12px;
	color: #f80000;
	font-style: oblique;
}

.gravatar { border-radius: 5px; }

.profile-nav li {
	margin-bottom: 10px;
}

/* Comment */

.field_wrapper {
	margin-bottom: 20px;
}

.field_wrapper input, 
.field_wrapper textarea {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.field_wrapper input:focus, 
.field_wrapper textarea:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.field_wrapper textarea {
	min-height: 150px;
}

#comment_submit {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}

#comment_submit:focus:hover, .comment_submit:focus {
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}

.form_field {
  margin-bottom: 20px;
}

#comment_form input, #comment_form textarea {
  max-width: 100%;
}

.blog_single_wrapper, #comment_area {
  margin-bottom: 40px;
}

#comment_area h3 {
  font-size: 16px;
}

#login_info {
  margin: 10px 0;
}

.gravi img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.comments_wrapper { padding-left: 0px; }
.single_comment { border: 0px; }
.comment_date { margin-bottom: 5px; }

.comment_message {
  line-height: 1.8em;
}

.single_comment {
	padding: 10px;
	overflow : hidden;
	margin-bottom: 15px;
	clear:both;
	border-bottom: 1px solid #eee;
}

.author_info {
	float:left;
	text-align: center;
	margin-right: 15px;
	color: #747171;
}

.comment_body {
	overflow:auto;
}

.comment_date {
	float:left;
	color: #747171;
	font-size: 11px;
}

.reply_link {
	float: right;
	text-decoration: none;
	font-size: 11px;
	background: rgb(48, 139, 255);
	color: #fff;
	padding: 1px 10px;
	border-radius: 5px;
}

.comment_message {
	clear:both;
}

#comment-pagination {
	margin-bottom: 15px;
	float:right;
}

#comment_form input[type=text], #comment_form input[type=email], #comment_form input[type=url] {
	border: 1px solid #CECECE;
	padding: 8px;
	width: 250px;
}

#comment_form textarea {
	border: 1px solid #CECECE;
	padding: 10px;
	width: 500px;
	height: 200px;
}

.com_read_more {
	float: right;
	font-size: 11px;
}