<!-- Login Modal -->
<div class="modal fade" id="userLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Sign In</h4>
            </div>

            <div class="modal-body">
                {{ Form::start("user/login", false, 'login', array('class' => 'login-form')) }}
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                    <div class="input-icon">
                      <i class="icon-user"></i>
                      {{ Form::email('email', '', array('class' => 'form-control', 'placeholder' => 'အီးမေးလ်')) }}          
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="input-icon">
                      <i class="icon-lock"></i>
                      {{ Form::password('password', '', array('class' => 'form-control', 'placeholder' => 'လျှို့ဝှက်စာလုံး')) }}
                    </div>
                  </div>
                  <div class="form-actions">
                    <label class="checkbox">
                    {{ Form::checkbox('remember', 1) }} Remember me
                    </label>
                    {{ Form::submit('submit', 'Log In', array('class' => 'btn btn-primary')) }}
                  </div>
                {{ Form::end() }}
            </div>

            <div class="modal-footer">            
                <div class="forget-password">
                    <h4>Forget password ?</h4>
                    <p>Don't worry, <a href="{{ url('user/reset-password') }}"  id="forget-password">Click here</a> to reset password.</p>
                </div>
                <div class="create-account">
                    <p>Don't have an account? <a href="{{ url('user/register/') }}" id="register-btn" >Register Here</a>!</p>
                </div>
            </div>
        </div>
    </div>
</div>