<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>{{ $layoutTitle }} | {{ setting('site_title') }}</title>
<meta name="description" content="Reborn is a composer based Content Management System with PHP 5.3, used Modular system and MVC Design." />
<meta name="keywords" content="cms, content management system, reborn" />
<meta name="author" content="RebornCMS Developement Team" />
<link rel="shortcut icon" type="image/x-icon" href="{{ assetPath('img') }}favicon.ico">

<link href='http://fonts.googleapis.com/css?family=Dosis:400,600|Open+Sans:300' rel='stylesheet' type='text/css'>

{{ $headerStyle }}
{{ css('reset.css') }}
{{ css('style.css') }}

{{ $headerScript }}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
{{ js('modernizr.custom.js') }}
{{ js('application.js') }}