.ico-button {
    margin-right: 10px;
}
.blog label { width: 15%;}
.mg-bottom { margin-bottom: 10px;}
#form_excerpt { width: 93%; }

#add-new-cat{ display: block; margin: 10px 0;}
#new-cat-box { display: none;}
#new-cat-name, #name-vat-parent { width: 193px; margin-bottom: 10px;}
#add-new-cat-bt { margin-top: 10px;}
#new-cat-box label {
	display:block;
	margin:5px 0px;
}

#new-cat-box button {
	margin-top: 10px;
}

#add-f-img, #remove-f-img {display: block; margin: 10px 0;}
#f-img-wrap {
	min-height: 150px;
	display: none;
}
#f-img-wrap img {
	max-width: 230px;
	border: 1px solid #E5E5E5;
	min-width: 100px;
}
#manual-sch {display: none; margin-top: 10px;}
.sch-data { font-size: 11px;font-style: oblique;}
.bg-title { position: relative; display: block;}
.bg-title span.label, span.schedule_label {
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 1.2em;
	min-height: 5px;
	min-width: 20px;
	padding: 1px 5px;
}
.check-box {padding-left: 13px;}
.cat-add-box { padding-left: 15px; display: none; color: #555555;}

#cat-edit-box {
	padding: 20px;
}

#cat-edit-box label {
	margin-bottom: 5px;
}

#add-new-cat-btn {
	margin-top: 10px;
}

#edit-msg {
	padding: 5px 10px;
	display: none;
}

.msg-success {
	background: #dae7cf;
	color: #5ca719;
}

.msg-error {
	background: #F3D1D1;
	color:#F33C3C;
}

.ui-autocomplete {
	width: 135px;
	margin-top: 5px;
}
.ui-autocomplete li {
	border: 1px solid #cdcdcd;
	padding: 5px;
	background: #ffffff;
	margin-bottom: 3px;
}
#filter-bar {
	padding: 5px;
	margin-bottom: 10px;
	position: relative;
	float:left;
	width:80%;
}

#filter-bar label {
	width:auto;
	margin-right: 12px;
}

#filter-bar #filter-submit {
	padding: 2px 12px;
	margin-top: -3px;
	margin-left: 10px;
}

#trash_link {
	float:right;
	margin-bottom: 10px;
}
.loading { position: absolute; left: 299px; top: 2px; }
#result-count { color: #DE31AA; margin-left: 15px;}

/** Author Section **/
div#left-side { width: 60%; float: left;}
div#right-side {
	width: 30%;
	float: right;
	padding: 20px;
	background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
#top-10 { margin: 20px 0;}
#assign-f { margin-top: 10px;}
#assign-f label { margin-bottom: 10px; width: 100%;}

@media (max-width: 768px) {
	div#left-side { width: 100%; float: none;}
	div#right-side { width: 90%; float: none;}
}

#schdule_opt label {
	display:block;
	width:auto;
}

#schdule_opt {
	overflow:hidden;
}

.draggable_wrap .actions {
	float:right;
}

span.error {
	color:#ff0000;
	font-size:11px;
}

#delete_select {
	float:left;
}

#content-wrapper .pagination {
	float: right;
	margin-right: 15px;
}

#featured_preview img {
	width:213px;
}

#current_lang {
	margin-bottom: 10px;
}

.more_lang_box, .multi_lang {
	list-style: none;
	margin: 0px;
}

.more_lang_box li {
	margin-bottom:10px;
}

.draft_lang {
	font-size: 9px;
	padding: 0px 5px;
}

/* Style for Editor View */
#editor-wrap {
	font-family: "Open Sans", Myanmar3, Tahoma, Helvetica, Sans-Serif;
}

#filter-bar.editor-view {
	float: none;
}
