/** Body **/
body {
	background: #5B87BB !important;
}
/** Header Bar **/
header {
	background: #5478A3;
}
#nav-toggle {
	border-right: 1px solid #3E5F84;
}
#header-right-panel ul li img.gravatar {
	border: 1px solid #3E5F84;
}

/** Navigation **/
#sidebar {
	background-color: #5B87BB;
}
#nav-panel ul li {
	border-top: 1px solid #85B1E2;
	border-bottom: 1px solid #5478A3;
	border-right: 1px solid #5478A3;
}
#nav-panel ul li a:hover {
	color: #343844;
}
#nav-panel ul li.active > a:hover {
	color: #1D2242;
}
#nav-panel ul li.active ul li.active a {
	background: #345882;
}
#nav-panel ul ul.dashboard-second-level {
	background: #4973A3;
}

/** Main Content Area **/

/** Footer **/
#dashboard-footer a {
	color: #E13737;
}
