<div id="upper-area">
	<div id="dashboard-links">

		<ul id="quick-links">

			<li>
				<a href="{{ adminUrl('user/create') }}" class="btn btn-ico btn-black tipsy-tip" title="Add new User">
					<i class="icon-users icon-white"></i>
				</a>
			</li>
			<li>
				<a href="{{ adminUrl('blog/create') }}" class="btn btn-ico btn-blue tipsy-tip" title="Add new Blog" data-gravity="n">
					<i class="icon-edit icon-white"></i>
				</a>
			</li>
			<li>
				<a href="{{ adminUrl('pages/create') }}" class="btn btn-ico btn-sky tipsy-tip" title="Add new Page">
					<i class="icon-file-add icon-white"></i>
				</a>
			</li>
			<li>
				<a href="{{ adminUrl('comment') }}" class="btn btn-ico btn-lavender tipsy-tip" title="Comment Manager" data-gravity="n">
					<i class="icon-comment icon-white"></i>
				</a>
			</li>
			<li>
				<a href="{{ adminUrl('contact/send-mail') }}" class="btn btn-ico btn-purple tipsy-tip" title="Mail">
					<i class="icon-mail icon-white"></i>
				</a>
			</li>
			<li>
				<a href="{{ adminUrl('media') }}" class="btn btn-ico btn-green tipsy-tip" title="Media Manager" data-gravity="n">
					<i class="icon-img icon-white"></i>
				</a>
			</li>
			<li>
				<a href="{{ adminUrl('module') }}" class="btn btn-ico tipsy-tip" title="Module Manager">
					<i class="icon-puzzle icon-white"></i>
				</a>
			</li>
		</ul> <!-- end of ul#quick-links -->

	</div> <!-- end of div#dashboard-links -->

</div> <!-- end of div#upper-area -->

<div id="box-area" class="clearfix">
	<div id="box-left">

		{{ if(isset($last_post)) }}
		<div class="dashboard-wg hide-on-640">
			<div class="block" id="last-post">
				<h3>
					<a href="{{ adminUrl('blog') }}">
						<i class="icon-edit icon-white"></i>{{ t('label.last_post') }}
					</a>
				</h3>
				<ul>
				{{ if($last_post->isEmpty()) }}
					<li><span class="empty-list">{{ t('label.last_post_empty') }}</span></li>
				{{ else }}
				{{ loop($last_post as $post) }}
					<li>
						<span class="date">{{ Date $post->created_at as Y-m-d }}</span>
						<span class="blog-author">
							<i class="icon-user icon-white"></i>
							<a href="{{ rbUrl('user/profile/'.$post->author->id) }}">
								{{ $post->author->first_name.' '.$post->author->last_name }}
							</a>
						</span>
						<a href="{{ rbUrl('blog/'.$post->slug) }}" target="_black">{{ $post->title }}</a>
						<!-- <span class="date">{{ Date $post->created_at as d }}
							<span class="month">{{ Date $post->created_at as m }}</span>
						</span>
						<h3>
							<a href="{{ rbUrl('blog/'.$post->slug) }}" target="_black">{{ $post->title }}</a>
						</h3>
						<div class="blog-author"><i class="icon-user"></i><a href="{{ rbUrl('user/profile/'.$post->author->id) }}">{{ $post->author->first_name.' '.$post->author->last_name }}</a></div> -->
					</li>
				{{ endloop }}
				{{ endif }}
				</ul>
			</div> <!-- end of div#last-post -->
		</div> <!-- end of div.dashboard-wg -->
		{{ endif }}

		{{ if(!isset($last_comment)) }}
		<div class="dashboard-wg hide-on-640">
			<div class="block block-dark" id="last-comment">
				{= \Module::load('Comment') =}
				{= $last_comments = \Comment\Lib\Helper::getLatestComments(5) =}
				<h3><a href="{{ adminUrl('comment') }}"><i class="icon-comment icon-white"></i>{{ t('label.last_comment') }}</a></h3>
				<ul>
					{{ if (empty($last_comments)) }}
						<li><span class="empty-list">{{ t('label.last_comment_empty') }}</span></li>
					{{ else }}
						{{ loop($last_comments as $comment) }}
							<li>
								<span class="date label">{{ Date $comment->created_at as Y-m-d }}</span>
								<span class="commenter">{{ $comment->name }}</span>
								commented at
								<span class="cmt-module">{{ ucfirst($comment->module) }}</span>
								on
								<span class="cmt-title">{{ $comment->content_title }}</span>
							</li>
						{{ endloop }}
					{{ endif }}
				</ul>
			</div> <!-- end of div#last-post -->
		</div> <!-- end of div.dashboard-wg -->
		{{ endif }}

	</div> <!-- end of div#box-left -->

	<div id="box-right">

		<div class="dashboard-wg">
			<div class="block block-blue" id="activity-log">
				<h3><i class="icon-users icon-white"></i>{{ t('label.user_last_login') }}</h3>
				<ul>

				{{ loop($last_login as $user) }}
				{= $url = rbUrl('user/profile/'.$user->id) =}
					<li>
						{{ sprintf(t('label.last_login_text'), $url, $user->fullname, $user->last_login) }}
					</li>
				{{ endloop }}
				</ul>
			</div> <!-- end of div#activity-log -->
		</div> <!-- end of div.dashboard-wg -->
	</div> <!-- end of div#box-right -->

</div> <!-- end of div#box-area -->
