<div id="upper-area">
	<div id="dashboard-links">

		<ul id="quick-links">

			<li>
				<a href="{{ adminUrl('user/create') }}" class="btn btn-ico btn-black tipsy-tip" title="{{ t('das.quick_btn.to_user') }}">
					<i class="icon-users icon-white"></i>
				</a>
			</li>
			<li>
				<a href="{{ adminUrl('blog/create') }}" class="btn btn-ico btn-blue tipsy-tip" title="{{ t('das.quick_btn.to_blog') }}" data-gravity="n">
					<i class="icon-edit icon-white"></i>
				</a>
			</li>
			<li>
				<a href="{{ adminUrl('pages/create') }}" class="btn btn-ico btn-sky tipsy-tip" title="{{ t('das.quick_btn.to_page') }}">
					<i class="icon-file-add icon-white"></i>
				</a>
			</li>
			<li>
				<a href="{{ adminUrl('comment') }}" class="btn btn-ico btn-lavender tipsy-tip" title="{{ t('das.quick_btn.to_comment') }}" data-gravity="n">
					<i class="icon-comment icon-white"></i>
				</a>
			</li>
			<li>
				<a href="{{ adminUrl('contact/send-mail') }}" class="btn btn-ico btn-purple tipsy-tip" title="{{ t('das.quick_btn.to_mail') }}">
					<i class="icon-mail icon-white"></i>
				</a>
			</li>
			<li>
				<a href="{{ adminUrl('media') }}" class="btn btn-ico btn-green tipsy-tip" title="{{ t('das.quick_btn.to_media') }}" data-gravity="n">
					<i class="icon-img icon-white"></i>
				</a>
			</li>
			<li>
				<a href="{{ adminUrl('module') }}" class="btn btn-ico tipsy-tip" title="{{ t('das.quick_btn.to_module') }}">
					<i class="icon-puzzle icon-white"></i>
				</a>
			</li>
		</ul> <!-- end of ul#quick-links -->

	</div> <!-- end of div#dashboard-links -->

</div> <!-- end of div#upper-area -->

<!-- Start Dashboard Widget Area -->
<div id="box-area" class="clearfix">

	{{ ifnot($widgets['fullcolumn']->isEmpty()) }}

	<div id="box-fullsize">

		{{ $widgets['fullcolumn']->render }}

	</div> <!-- end of div.fullsize -->

	{{ endif }}

	{{ ifnot($widgets['leftcolumn']->isEmpty()) }}

	<div id="box-left">

		{{ $widgets['leftcolumn']->render }}

	</div> <!-- end of div.box-left-->

	{{ endif }}

	{{ ifnot($widgets['rightcolumn']->isEmpty()) }}

	<div id="box-right">

		{{ $widgets['rightcolumn']->render }}

	</div> <!-- end of div.box-right-->

	{{ endif }}

</div> <!-- end of div#box-area -->
<!-- End Dashboard Widget Area -->
