{{ Form::start('contact','',true,array('class'=>'contact-form')) }}
	{{ Security::CSRField('contact') }}
		
		<div class="contact-form-block">
			{{ Form::label('Name <span class="required"></span>', 'name') }}
			<div class="form-field-block">
				{{ Form::input('name', isset($mail->name) ? $mail->name : '', 'text', array('placeholder' => 'Your Name')) }}
				{{ if(isset($errors['name'])) }}
					<span class="field-error">{{ $errors['name'] }}</span>
				{{ endif }}
			</div> 
		</div>
		
		<div class="contact-form-block">
			{{ Form::label('Email <span class="required"></span>', 'email') }}
			<div class="form-field-block">
				{{ Form::input('email', isset($mail->email) ? $mail->email : '', 'text', array('placeholder' => 'Your Email')) }}
				{{ if(isset($errors['email'])) }}
					<span class="field-error">{{ $errors['email'] }}</span>
				{{ endif }}
			</div> 
		</div> 

		<div class="contact-form-block">
			{{ Form::label('Subject <span class="required"></span>', 'subject') }}
			<div class="form-field-block">
				{{ Form::input('subject', isset($mail->subject) ? $mail->subject : '', 'text', array('placeholder' => 'Your Subject')) }}
				{{ if(isset($errors['subject'])) }}
					<span class="field-error">{{ $errors['subject'] }}</span>
				{{ endif }}
			</div> 
		</div>

		<div class="contact-form-block">
			{{ Form::label('Message <span class="required"></span>', 'message') }}
			<div class="form-field-block">
				{{ Form::textarea('message', isset($mail->message) ? $mail->message :'',array('placeholder' => 'Your Message','cols'=>'30')) }}
				{{ if(isset($errors['message'])) }}
					<span class="field-error">{{ $errors['message'] }}</span>
				{{ endif }}
			</div>
		</div>

		<div class="contact-form-block">
			{{ Form::label('Attachment', 'attachment') }}
			<div class="form-field-block">
				{{ Form::file('attachment',array()) }}
				{{ if(isset($errors['attachment'])) }}
					<span class="field-error">{{ $errors['attachment'] }}</span>
				{{ endif }}
			</div> 
		</div> 

		<div class="contact-form-block contact-button">
			{{ Form::submit('submit', 'Send', array('id' => 'create', 'class' => 'contact-btn btn')) }}
		</div>

{{ Form::end() }}