/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


@import url(typo.css);

/* Login Screen */

@font-face
{
  font-family: bebas;
  src: url('../fonts/bebas.ttf');
  format("opentype"); /* IE */
}

body {	background: url(../img/black_lozenge.png) repeat left top; }

div#login-container {
	width: 343px;
	margin: 120px auto 0;
	padding: 20px;
	border: 1px solid #E5E5E5;
	background: #efefef;
	position: relative;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

div#login-container:before, div#login-container:after {
	content: "";
	width: 387px;
	height: 298px;
    top : -1px;
    left : -2px;
    background: #fff;
	display: block;
	position: absolute;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2) inset;
}

div#login-container:before {
    z-index: -1;
    -webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
}

div#login-container:after {
    z-index: -2;
    -webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

/*div#login-container:before, div#login-container:after {
	content: "";
	display: block;
	background: #fff;
	width: 343px;
	padding: 20px;
	height: 260px;
	position: absolute;
	left: 4px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2) inset;
	width: 349px;
	height: 2px;
	padding: 10px 20px;
	opacity: 0.5;
}

div#login-container:before {
	-webkit-transform: skewY(48deg);
	-moz-transform: skewY(48deg);
	-ms-transform: skewY(48deg);
	-o-transform: skewY(48deg);
	transform: skewY(48deg);
	height: 280px;
    left: 386px;
    padding: 10px 9px;
    top: 11px;
    transform: skewY(48deg);
    width: 1px;
    z-index: 1;
}
div#login-container:after {
	-webkit-transform: skewX(40deg);
	-moz-transform: skewX(40deg);
	-ms-transform: skewX(40deg);
	-o-transform: skewX(40deg);
	transform: skewX(40deg);
	bottom: -24px;
    left: 7px;
    transform: skewX(40deg);
    z-index: 2;
}*/

div#login-header {
	background-color: #7b0000;
	width: 343px;
	height: 67px;
	position: relative;
	padding:5px 0px;
}

div#login-header h1 {
	background: url(../img/login_header.png) no-repeat center transparent;
	width: 343px;
	height: 67px;
	text-indent: -9999px;
	display: block;
}

div#login-box {
	width: 343px;
	margin: 10px 0px;
}

div#login-box input[type=text]#login-box-name, div#login-box input[type=password]#login-box-password {
	background: #f9f9f9;
	color: #9c9c9c;
	font-family: Ubuntu, Arial, sans-serif;
	width: 325px;
	border: 0px;
	padding: 10px 8px;
	font-size: 13px;
	letter-spacing: 0.1em;
	margin: 0;
}

div#login-box input[type=text]#login-box-name {
	border: 1px solid #c4c4c4;
	margin-bottom: 10px;
}

div#login-box input[type=password]#login-box-password {
	border: 1px solid #c4c4c4;
	margin-bottom: 10px;
}

div#login-box input[type=submit]#login-box-submit {
	background: url(../img/login-btn-bg.png) repeat-x left center transparent;
	width: 343px;
	height: 46px;
	font-family: bebas, Arial, sans-serif;
	border: 0px;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
}

div#login-box input[type=submit]#login-box-submit:hover {
	border: 1px solid #5E0303;
	box-shadow: -1px -1px 1px #890202 inset;
	background: #840606;
	color: #efefef;
}

span.login-register {
	color: #7b0000;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	display: block;
	text-align: center;
	font-size: 13px;
	font-weight: lighter;
	margin-top: 16px;
}

span.login-register a {
	color: #7b0000;
	text-decoration: underline;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}
span.login-register a:hover { color: #550000; text-decoration: none;}

/** Alert Message Box **/
.alert {
	padding: 9px 34px 9px 23px;
	margin-bottom: 10px;
	max-width: 97%;
	font-size: 13px;
	position: relative;
	color: #92219D;
	border: 1px solid #dbdbdb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	background-color: #F4DBF7;
	text-shadow: 0 1px 0 rgba(95, 95, 95, 0.3);
	letter-spacing: 0.1em;
	font-family: Ubuntu, Arial, sans-serif;
}
.alert .close {
	position: absolute;
	right: 9px;
	top: 4px;
	line-height: 18px;
	text-shadow: 0 1px 0 rgba(95, 95, 95, 0.3);
}
.alert .close:hover {
	color: #5e5e5e;
}
.alert-error {
	color: #fff;
	background: #f3d1d1;
}
.alert-error a {
	color: #fff;
}

#rb_profiler {
	display: none;
}
