{{ Form::start(adminUrl('media/upload/'.$folderId), $formName, true, array('class' => 'form  dropzone', 'id' => 'uploader')) }}

	{{ Form::file('files[]', array('multiple' => '', 'id' => 'file-field')) }}
	{{ Form::submit('submit', Translate::get('files.btn.upload'), array('id' => 'upload-submit')) }}

{{ Form::end() }}

{= $dropzone = assetPath('js', 'media') . DS .'dropzone.js' =}

<script type="text/javascript">
	window.Dropzone || document.write('<script type="text/javascript" src="{{ $dropzone }}"><\/script>');
</script>

<script type="text/javascript">

	Dropzone.autoDiscover = false;
	$('#uploader').dropzone({
		paramName: "files",
		dictDefaultMessage: "Upload here",
		acceptedFiles: window.DzfileType,
		maxFilesize: 2,
		init: function() {
			$('#file-field').hide();
			$('#upload-submit').hide();
		},
		success: function (file, done) {
			var template = file.previewTemplate;

			$(template).find('.dz-progress').fadeOut();

			if ('success' == done.status) {

				$(template).find('.dz-success-mark').css('opacity', '1');

			} else {

				$(template).find('.dz-details').parent().removeClass('dz-processing').addClass("dz-error");

				$(template).find('.dz-error-message').html("<span data-dz-errormessage>"+done.error[0]+"</span>");

				$(template).find('.dz-error-mark').css('opacity', '1');

			}
			
		}
	});
		
</script>