<div id="media-form-wrapper">

	{= $url = (isset($folderData)) ? 'folder/update/'.$folderData->id : 'folder/create' =}
	{= $formName = (isset($folderData)) ? 'edit-folder' : 'create-folder' =}
	{= $name = (isset($folderData)) ? $folderData->name : '' =}
	{= $description = (isset($folderData)) ? $folderData->description : '' =}
	{= $folderId = (isset($folderData)) ? $folderData->folder_id : $parentId =}
	{= $btnValue = (isset($folderData)) ? t('media::media.btn.update') :
		t('media::media.btn.create') =}

	{{ Form::start(admin_url("media/$url"), $formName, false, array('class' => 'form')) }}

		{{ ifset ($folderData) }}
			{{ Form::hidden('id', $folderData->id) }}
			{{ Form::hidden('originName', $folderData->name) }}
		{{ endif }}

		<div class="form-block">
			{{ Form::label(t('media::media.lbl.folderName'), 'name') }}
			<div class="form-right-block">
				{{ Form::input('name', $name, 'text', array('class' => 'medium thin required')) }}
				{= $display = isset($error['name']) ? 'auto' : 'none' =}
				<span class="msg error" style="display: {{ $display }};">
					{{ t('media::media.warning.require') }}
				</span>
				<p>{{ t('media::media.info.folderName') }}</p>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form-block -->

		<div class="form-block">
			{{ Form::label(t('media::media.lbl.desc'), 'description') }}
			<div class="form-right-block">
				{{ Form::textarea('description', $description, array('class' => 'medium')) }}
				<p>{{ t('media::media.info.folderDesc') }}</p>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form-block -->

		<div class="form-block">
			{{ Form::label(t('media::media.lbl.chofol'), 'folder_id') }}
			<div class="form-right-block">
				<select name="folder_id" class="medium required" id="folder_id">
					<option value="0">{{ t('media::media.lbl.none') }}</option>
					{{ folderTree($folders, 0, 0, $folderId) }}
	            </select>
	            <span class="msg error" style="display: none;">
					{{ t('media::media.warning.require') }}
				</span>
	            <p>{{ t('media::media.info.choFolder') }}</p>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form-block -->

		<div class="form-block form-action">
			{{ Form::input('submit', $btnValue, 'submit', array('class' => 'btn btn-green', 'id' =>'folder_submit')) }}
			<span class="loading" style="display: none;"></span>
		</div> <!-- end of form-aciton -->

	{{ Form::end() }}

</div> <!-- end of media-form-wrapper -->