<div id="media-wrapper">
	
	{= $url = (isset($folderData)) ? 'edit-folder/'.$folderData->id : 'create-folder' =}
	{= $formName = (isset($folderData)) ? 'edit-folder' : 'create-folder' =}
	{= $name = (isset($folderData)) ? $folderData->name : '' =}
	{= $description = (isset($folderData)) ? $folderData->description : '' =}
	{= $folderId = (isset($parentId)) ? $parentId : $folderData->folderId =}
	{= $btnValue = (isset($folderData)) ? \Translate::get('m.btn.update') :
		\Translate::get('m.btn.create') =}

	{{ Form::start(adminUrl("media/$url/"), $formName, false, array('class' => 'form')) }}

		{{ ifset ($folderData) }}
			{{ Form::hidden('id', $folderData->id) }}
			{{ Form::hidden('originName', $folderData->name) }}
		{{ endif }}

		<div class="form-block">
			{{ Form::label(Translate::get('m.lbl.folderName'), 'name') }}
			<div class="form-right-block">
				{{ Form::input('name', $name, 'text', array('class' => 'medium thin required')) }}
				{= $display = isset($error['name']) ? 'auto' : 'none' =}
				<span class="msg error" style="display: {{ $display }};">
					{{ Translate::get('m.warning.require') }}
				</span>
				<p>{{ Translate::get('m.info.folderName') }}</p>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form-block -->

		<div class="form-block">
			{{ Form::label(Translate::get('m.lbl.desc'), 'description') }}
			<div class="form-right-block">
				{{ Form::textarea('description', $description, array('class' => 'medium')) }}
				<p>{{ Translate::get('m.info.folderDesc') }}</p>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form-block -->

		<div class="form-block">
			{{ Form::label(Translate::get('m.lbl.chofol'), 'folder_id') }}
			<div class="form-right-block">
				<select name="folder_id" class="medium required" id="folder_id">
					<option value="0">{{ \Translate::get('m.lbl.none') }}</option>
					{{ folderTree($allFolders, 0, 0, $folderId) }}
	            </select>
	            <span class="msg error" style="display: none;">
					{{ Translate::get('m.warning.require') }}
				</span>
	            <p>{{ Translate::get('m.info.choFolder') }}</p>
			</div> <!-- end of form-right-block -->
		</div> <!-- end of form-block -->

		<div class="form-block form-action">
			{{ Form::input('submit', $btnValue, 'submit', array('class' => 'btn btn-green', 'id' =>'ajax_submit')) }}
			<span class="loading" style="display: none;"></span>
		</div> <!-- end of form-aciton -->

	{{ Form::end() }}

</div> <!-- end of media-wrapper -->