<div id="user-container">

	{{ Form::start("$adminUrl/user/group/edit/$group->id", 'group_edit_form', false, array('class' => 'form')) }}

		<div class="form-block odd">
    		<label for="">{{ Form::label(t('user::group.name'), 'name') }}<span class="required"></span></label>
      
  			<div class="form-right-block">
    			{{ Form::input('name', $group->name, 'text', array('id' => 'name')) }}
    			<p>e.g. Administrator</p>     
			</div> <!-- end of form-right-block -->
        </div> <!-- end of form block -->

      {{ if ($group->id != 1) }}
        <div class="form-block ckeck-block even" style="height: 40px;">
      		<label for="checkbox">{{ Form::label(t('user::group.adminpermission'), 'is_admin') }}</label>
      		<div class="form-right-block clearfix">
        		<label for="ckeckbox" class="inline-label">
         			{{ if($permission) }}
						    {{ Form::checkbox('is_admin', 1, array('checked' => 'checked', 'id'=>'ckeckbox')) }}
					    {{ else }}
						    {{ Form::checkbox('is_admin', 1, array('id'=>'ckeckbox')) }}
					    {{ endif }}
       			</label>
     		</div> <!-- end of form-right-block -->
   		</div> <!-- end of form block -->
    {{ endif }}

    <div class="form-block odd form-btn">
		  {{ Form::submit('submit', t('user::permission.edit'), array('id' => 'edit', 'class' => 'btn btn-green')) }}
		  <a href="{{ \Uri::create("$adminUrl/user/group") }}" class="btn">{{ t('user::permission.cancel') }}</a>
    </div>

	{{ Form::end() }}
</div>
