{{ if(count($group) > 0) }}
<table class="stripe">
	<thead>
		<tr>
			<th width=20></th>
			<th>{{ t('user::group.name') }}</th>
			<th>{{ t('user::permission.action') }}</th>
		</tr>
	</thead>
	<tbody>
		{= $i = 1 =}
	{{ loop($group as $g) }}
		<tr>
			<td>{{ $g->id }}</td>
			<td>{{ $g->name }}</td>
			<td>
			<div class="icons-bar">
				<a href="{{ adminUrl("user/group/edit/".$g->id) }}" class="ico-btn btn-green tipsy-tip" original-title="{{ t('user::permission.edit') }}"><i class="icon-edit"></i></a>
				{{ if($g->id != 1) }}
					<a href="{{ adminUrl("user/group/delete/".$g->id) }}" class="ico-btn btn-red tipsy-tip confirm_delete" original-title="{{ t('user::permission.delete') }}"><i class="icon-remove"></i></a>
				{{ endif }}
			</div>
			</td>
		</tr>
		{= $i++ =}
	{{ endloop }}
	</tbody>
</table>
{{ else }}
	<p class="empty">No Group Found!</p>
{{ endif }}