.adjust-width {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.transi {
	transition: width 0.2s ease 0s;
    -webkit-transition: width 0.2s ease 0s;
    -moz-transition: width 0.2s ease 0s;
    -ms-transition: width 0.2s ease 0s;
    -o-transition: width 0.2s ease 0s;
}
.p-relative { position: relative; }
.p-absolute { position: absolute; }

.ff-mix-container {
	margin-top: 10px;
	height: 400px;
	overflow: hidden;
}

/* ===== Action Bar ===== */
#action-bar{
	background: #f0f0f0;
	padding: 5px;
}
#searcher, #changer, #action-holder { width: 30%; }

#media_search {
	padding: 5px;
}

#media_main_action {
	display: none;
}
#media_main_action a{
	padding: 3px 10px;
}

/* ===== Icons ===== */
.thumbs { width: 80px; height: 80px; background: url('../img/file-icons.png') no-repeat; }
.folder-thumb { background-position: -630px 0; }
.pdf-thumb { background-position: 8px 0; }
.zip-thumb { background-position: -82px 0; }
.doc-thumb { background-position: -172px 0; }
.exec-thumb { background-position: -262px 0; }
.audio-thumb { background-position: -353px 0; }
.txt-thumb { background-position: -442px 0; }
.vdo-thumb { background-position: -532px 0; }

/* ===== Files and Folders ===== */
.ff-wrapper:hover > .ff-actions {
	display: block;
}
.ff-wrapper:hover {
	background: #fafafa;
	border: 1px solid #f0f0f0;
	padding: 9px;
}
.ff-actions{
	display: none;
}
.ff-actions .btns-group { top: -10px; right: -10px; }
.ff-actions .btns-group a {
	padding: 0 2px;
}
.ff-actions .btns-group a i {
	font-size: 18px;
	line-height: 0em;
}
.ff-actions .btns-group a:last-child { padding: 0; }
.ff-actions .btns-group a .icon-arrow-down { font-size: 14px; }

.ff-wrapper {
	width: 80px;
	height: 95px;
	padding: 10px;
	margin: 10px;
}

.active-wrap{
	background: lightblue;
}
.active-wrap:hover { background: lightblue; }

.ff-name p {
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* ===== Detail ===== */
#detail-file-img {
	width: 100%;
	height: 180px;
}

#file-detail table {
	margin-bottom: 0;
}

#file-detail td {
	border: none;
	font-size: 12px;
	word-wrap: break-word;
}

#file-detail td:last-child {
	width: 225px;
	display: block;
}

#file-detail td:first-child {
	text-align: right;
	padding-right: 5px;
}

.semi-colom { padding: 8px 5px 8px 0; }

/* ===== Actions ===== */
.ff-actions a.active {
	background: #DfDfDf;
}

/* ===== Options ===== */
.options {
	width: 65px;
	background: #393939;
	top: 10px;
	right: -10px;
	opacity: .85;
	display: none;
}
.options li {
	list-style: none;
}
.options li a{
	display: block;
	text-align: center;
	color: #fff;
}
.options li a:hover {
	background: #4f4f4f;
}

/* ===== Upload ===== */


/* ===== Thumbnail Image ===== */
#thumb-action-bar {
	box-shadow: 0 0 4px #f0f0f0;
	padding: 10px;
}

#thumb-action-bar .btn-group a{
	width: 93px;
	display: inline-block;
	text-align: center;
	padding: 5px 0;
	font-size: 17px;
}

#m-thumb-folder-choose {
	width: 40%;
}

#m-thumb-folder-choose label {
	width: 30%;
	margin: 0;
	padding: 2px;
}

.action-active {
	background: #f5f5f5;
	cursor: text;
}

#m-thumb-option-pane {
	position: relative;
	overflow: auto;
	width: 30%;
	padding: 10px;
	height: 340px;
}

.m-thumb-option {
	margin-bottom: 10px;
}

.m-thumb-option label {
	width: 100%;
	margin: 5px 0;
	font-size: 14px;
}

#m-thumb-dimension input {
	width: 40%;
	padding: 5px;
}

#float, #alt_text {
	width: 80%;
}

#alt_text {
	padding: 5px;
}

#height {
	margin-left: 10px;
}



#m-thumb-body {
	width: 68%;
	height: 340px;
	overflow: auto;
}

.m-thumbs {
	cursor: pointer;
	margin: 15px;
}

#m-thumb-preview-wrap {
	width: 90%;
	padding: 5px;
	margin: 0 auto;
	display: none;
}
#m-thumb-preview-wrap p {
	text-align: center;
	word-wrap: break-word;
}

/* ===== CK ===== */
#m-ck-wrap {
	background: #fff;
	min-height: 390px;
}






.small{
	width: 20px;
	height: 20px;
	background: grey;
}
.small div {
	display: none;
}