.adjust-width {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.transi {
	transition: width 0.2s ease 0s;
    -webkit-transition: width 0.2s ease 0s;
    -moz-transition: width 0.2s ease 0s;
    -ms-transition: width 0.2s ease 0s;
    -o-transition: width 0.2s ease 0s;
}
.p-relative { position: relative; }
.p-absolute { position: absolute; }

.ff-mix-container {
	margin-top: 10px;
	height: 400px;
	overflow: hidden;
}

#main-media-wrapper {
	background: #fafafa;
	border: 1px solid #f0f0f0;
}

/* ===== Action Bar ===== */
#action-bar{
	padding: 5px;
	border-bottom: 1px solid #f0f0f0;
	background: #fdfdfd;
}

/* Pagination */
#pagination {
	width: 68%;
}

#pagination ul {
	margin: 5px 0;
}

#pagination ul li {
	list-style: none;
	margin-right: 5px;
}

#pagination ul li a{
	padding: 3px;
}

#pagination ul li i {
	font-weight: lighter;
}

/* Actions */
#media_main_action {
	display: none;
}

#media_main_action a#media_search_btn {
	padding: 3px 4px;
}

#media_main_action a, #media-extra-feature a{
	padding: 3px 10px;
}

#media-extra-feature {
	margin-left: 5px;
}

#media-extra-feature a#media_search_btn {
	padding: 3px 4px;
}

#search-box, #jump-box {
	top: 38px;
	right: 0;
	padding: 5px;
	background: rgba(0,0,0, 0.2);
	z-index: 50;
	display: none;
}

#jump-box{
	width: 250px;
}

/* ===== Status Bar ===== */
#m-status-bar {
	width: 100%;
	height: 125px;
	padding: 10px 15px;
	border-top: 1px solid #f0f0f0;
	background: #fdfdfd;
}

#m-status-thumb {
	width: 15%;
}

#m-statuses {
	width: 30%;
}

#m-statuses p {
	color: #a0a0a0;
}

#m-status-desc {
	width: 50%;
}

#m-status-desc table tr td {
	border: none;
	padding: 2px;
	color: #a0a0a0;
}

#m-status-desc table tr td:first-child{
	width: 100px;
}

#m-status-desc table tr td.semi-colom {
	width: 5px;
}

/* ===== Icons ===== */
.thumbs { width: 80px; height: 80px; background: url('../img/file-icons.png') no-repeat; }
.folder-thumb { background-position: -630px 0; }
.pdf-thumb { background-position: 8px 0; }
.zip-thumb { background-position: -82px 0; }
.doc-thumb { background-position: -172px 0; }
.exec-thumb { background-position: -262px 0; }
.audio-thumb { background-position: -353px 0; }
.txt-thumb { background-position: -442px 0; }
.vdo-thumb { background-position: -532px 0; }

.thumbs-lg { width: 100px; height: 100px; background: url('../img/file-icons.png') no-repeat; }
.folder-thumb-lg { background-position: -750px -108px; }
.pdf-thumb-lg { background-position: -10px -116px; }
.zip-thumb-lg { background-position: -98px -116px; }
.doc-thumb-lg { background-position: -205px -116px; }
.exec-thumb-lg { background-position: -314px -116px; }
.audio-thumb-lg { background-position: -420px -116px; }
.txt-thumb-lg { background-position: -530px -116px; }
.vdo-thumb-lg { background-position: -638px -116px; }

/* ===== Files and Folders ===== */
.ff-wrapper:hover > .ff-actions {
	display: block;
}
.ff-wrapper:hover {
	background: #fff;
	border: 1px solid #f0f0f0;
	padding: 9px;
}
.ff-actions{
	display: none;
}
.ff-actions .btns-group { top: -10px; right: -10px; }
.ff-actions .btns-group a {
	padding: 0 2px;
}
.ff-actions .btns-group a i {
	font-size: 18px;
	line-height: 0em;
}
.ff-actions .btns-group a:last-child { padding: 0; }
.ff-actions .btns-group a .icon-arrow-down { font-size: 14px; }

.ff-wrapper {
	width: 80px;
	height: 95px;
	padding: 10px;
	margin: 10px;
}

.active-wrap{
	background: lightblue;
}
.active-wrap:hover { background: lightblue; }

.ff-name p {
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* ===== Detail ===== */
#detail-file-img {
	width: 100%;
	height: 180px;
}

#file-detail table {
	margin-bottom: 0;
}

#file-detail td {
	border: none;
	font-size: 12px;
	word-wrap: break-word;
}

#file-detail td:last-child {
	width: 225px;
	display: block;
}

#file-detail td:first-child {
	text-align: right;
	padding-right: 5px;
}

.semi-colom { padding: 8px 5px 8px 0; }

/* ===== Actions ===== */
.ff-actions a.active {
	background: #DfDfDf;
}

/* ===== Options ===== */
.options {
	width: 65px;
	background: #393939;
	top: 10px;
	right: -10px;
	opacity: .85;
	display: none;
}
.options li {
	list-style: none;
}
.options li a{
	display: block;
	text-align: center;
	color: #fff;
}
.options li a:hover {
	background: #4f4f4f;
}

/* ===== Form ===== */
#media-form-wrapper {
	padding: 10px;
	border: 1px solid #f0f0f0;
}

/* ===== Thumbnail Image ===== */
#thumbnail-wrap{
	background: #fafafa;
	border: 1px solid #f0f0f0;
}

#thumbnail-wrap #tabs {
	border: none;
	border-radius: 0;
	padding: 0;
}
#thumb-tab-nav {
	width: 20%;
	border-radius: 0;
	border-bottom: none;
	height: 460px;
	border-right: 1px solid #f0f0f0;
	padding: 0;
}
#thumb-tab-nav li {
	width: 100%;
	border-right: none;
	padding: 0;
	border: none;
	border-radius: 0;
}
#thumb-tab-nav li a {
	width: 100%;
	text-align: right;
}

#extra-li label{
	width: 100%;
	padding: 7px 5px;
	float: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#jumper_chzn a.chzn-single {
	padding: 0 0 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#jumper_chzn a span {
	text-align: left;
}
#jumper_chzn ul li {
	padding: 5px 6px;
}
.ui-tabs .ui-tabs-panel {
	padding: 0;
	height: 460px;
}

#uploader-wrap{
	width: 77%;
	float: right;
	padding: 10px;
}
#uploader-wrap form {
	height: 435px;
}

/* Thumb editor */
#option-wrap {
	width: 25%;
	height: 460px;
	border-left: 1px solid #f0f0f0;
	padding: 5px;
	background: #fdfdfd;
}

#m-thumb-button {
	text-align: center;
}

.m-thumb-option {
	margin-bottom: 10px;
}

.m-thumb-option label {
	width: 100%;
	margin: 5px 0;
	font-size: 13px;
	padding-top: 4px;
}

#m-thumb-dimension input {
	width: 40%;
	padding: 5px;
}

#float, #alt_text {
	width: 80%;
}

#alt_text {
	padding: 5px;
}

#height {
	margin-left: 10px;
}

#m-thumb-preview-wrap {
	width: 90%;
	height: 208px;
	padding: 5px;
	margin: 0 auto;
}
#m-thumb-preview-wrap img {
	max-width: 100%;
	max-height: 150px;
	margin: 0 auto;
}
#m-thumb-preview-wrap p {
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#m-thumb-main {
	width: 54%;
	height: 460px;
	overflow: hidden;
}

.m-thumbs {
	cursor: pointer;
	margin: 15px;
}


#external_link {
	margin: 10px;
}
#link_ok_btn {
	margin: 10px;
}
#link_preview {
	margin: 10px;
}
#link-prev-img-wrap {
	width: 260px;
	padding: 0 10px;
	height: 345px;
}
#link-preview-img {
	max-width: 250px;
	max-height: 270px;
	padding: 3px;
	border: 1px solid #f0f0f0;
	background: #fff;
	margin: 10px auto;
}
#link-option-wrap {
	width: 300px;
}

#link-option-wrap label {
	width: 30%;
	float: left;
}
.link-form-wrap {
	margin: 8px 0;
}
/* ===== CK ===== */
#m-ck-wrap {
	background: #fff;
	min-height: 390px;
}






.small{
	width: 20px;
	height: 20px;
	background: grey;
}
.small div {
	display: none;
}

/* ===== Customizing Chozen ===== */
.chzn-container-single .chzn-single {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;

	border: 1px solid #A4BECC;

	background: #fafafa;
}