<div id="user-container">

	{{ Form::start("$adminUrl/user/create", 'user_create_form', false, array('class' => 'form')) }}
  {{ Security::CSRField('user') }}

    <div class="form-block">
      <label for="">{{ Form::label('Display Name', 'display_name') }}<span class="required"></span></label>
      
      <div class="double-field-block">
        {{ Form::input('first_name', '', 'text', array('id' => 'user-first_name', 'placeholder' => 'First Name', 'class' => 'left-input')) }}
        {{ Form::input('last_name', '', 'text', array('id' => 'user-last_name', 'placeholder' => 'Last Name', 'class' => 'right-input')) }}
        {{ if ((isset($errors['first_name'])) AND (isset($errors['last_name']))) }}
          <span class="msg error">**This field is required.</span>
        {{ endif }}
        <p>e.g. John Doe</p>
      </div> <!-- end of form-right-block -->
    </div> <!-- end of form block -->

		<div class="form-block">
    		<label for="">{{ Form::label('Email', 'email') }}<span class="required"></span></label>
      
  			<div class="form-right-block">
    			{{ Form::email('email', '', array('id' => 'user-email', 'placeholder' => 'Enter your email')) }}
          {{ if(isset($errors['email'])) }}
            <span class="msg error">{{ $errors['email'] }}</p>
          {{ endif }}
    			<p>Please enter valid Email Address</p>     
			</div> <!-- end of form-right-block -->
        </div> <!-- end of form block -->

        <div class="form-block">
    		<label for="">{{ Form::label('Password', 'password') }}<span class="required"></span></label>
      
  			<div class="form-right-block">
    			{{ Form::password('password', '', array('id' => 'user-password', 'placeholder' => 'Enter your new password')) }}
          {{ if(isset($errors['password'])) }}
            <span class="msg error">{{ $errors['password'] }}</p>
          {{ endif }}
    			<p>Type a secure password</p>     
			</div> <!-- end of form-right-block -->
        </div> <!-- end of form block -->

        <div class="form-block">
    		<label for="">{{ Form::label('Confirm Password', 'confpass') }}<span class="required"></span></label>
      
  			<div class="form-right-block">
    			{{ Form::password('confpass', '', array('id' => 'confpass', 'placeholder' => 'Type the same password again')) }} 
			</div> <!-- end of form-right-block -->
    </div> <!-- end of form block -->

		<div class="form-block">
     		<label for="">{{ Form::label('Group', 'group') }}</label>
      
      		{= $data = array() =}	

			{{ loop($groups as $g) }}
				{= $data[$g->id] = $g->name =}
			{{ endloop }}
      		<div class="form-right-block">
        		{{ Form::select('group', $data, 3 ) }}
     		</div> <!-- end of form-right-block -->       
   		</div> <!-- end of form block -->

    <div class="form-block">
        <label for="">{{ Form::label('Username', 'username') }}<span class="required"></span></label>
      
        <div class="form-right-block">
          {{ Form::input('username', '', 'text', array('id' => 'user-username', 'placeholder' => 'Enter your Username')) }}
          {{ if(isset($errors['password'])) }}
            <span class="msg error">{{ $errors['password'] }}</p>
          {{ endif }}
          <p>Username must not include space, or special characters.</p>     
      </div> <!-- end of form-right-block -->

    </div> <!-- end of form block -->
    <div class="form-block">
        <label for="">{{ Form::label('Biography', 'biography') }}</label>
      
        {{ Form::textarea('biography', '', array('id' => 'user-biography')) }}
    </div> <!-- end of form block -->

    <div class="form-block">
        <label for="">{{ Form::label('Country', 'country') }}</label>
      
        <div class="form-right-block">
          {{ Form::input('country', '', 'text', array('id' => 'user-country')) }}  
        </div> <!-- end of form-right-block -->
    </div> <!-- end of form block -->

    <div class="form-block">
        <label for="">{{ Form::label('Website', 'website') }}</label>
      
        <div class="form-right-block">
          {{ Form::input('website', '', 'text', array('id' => 'user-website')) }}
          <p>Personal blog or webpage of this user</p> 
        </div> <!-- end of form-right-block -->
    </div> <!-- end of form block -->

    <div class="form-block">
        <label for="">{{ Form::label('Facebook', 'facebook') }}</label>
      
        <div class="form-right-block">
          {{ Form::input('facebook', '', 'text', array('id' => 'user-facebook')) }}
          <p>Enter this user's facebook username</p>     
        </div> <!-- end of form-right-block -->
    </div> <!-- end of form block -->

    <div class="form-block">
        <label for="">{{ Form::label('Twitter', 'twitter') }}</label>
      
        <div class="form-right-block">
          {{ Form::input('twitter', '', 'text', array('id' => 'user-twitter')) }}
          <p>Enter this user's twitter username</p>     
        </div> <!-- end of form-right-block -->
    </div> <!-- end of form block -->

		<div class="block">
		{{ Form::submit('submit', 'Create', array('id' => 'edit', 'class' => 'button button-green')) }}
		<a href="{{ \Uri::create("$adminUrl/user/") }}" class="button button-red">Cancel</a>
		</div>	

	{{ Form::end() }}
</div>
