  <div id="user-container">

	{{ Form::start("$adminUrl/user/edit/$user->id", 'user_edit_form', false, array('class' => 'form')) }}
  
    {{ Form::hidden('id', $user->id) }}
		<div class="form-block">
			<label for="">{{ Form::label('Display Name', 'display_name') }}<span class="required"></span></label>
			
			<div class="double-field-block">
				{{ Form::input('first_name', $user->first_name, 'text', array('id' => 'first_name', 'placeholder' => 'First Name', 'class' => 'left-input')) }}
				{{ Form::input('last_name', $user->last_name, 'text', array('id' => 'last_name', 'placeholder' => 'Last Name', 'class' => 'right-input')) }}
        {{ if ((isset($errors['first_name'])) or (isset($errors['last_name']))) }}
          <span class="msg error">**You must enter your first name and last name.</span>
        {{ endif }}
				<p>e.g. John Doe</p>
			</div> <!-- end of form-right-block -->
				
		</div> <!-- end of form block -->

		<div class="form-block">
    		<label for="">{{ Form::label('Email', 'email') }}<span class="required"></span></label>
      
  			<div class="form-right-block">
    			{{ Form::email('email', $user->email, array('id' => 'email', 'placeholder' => 'Enter your email')) }}
          {{ if(isset($errors['email'])) }}
            <span class="msg error">{{ $errors['email'] }}</p>
          {{ endif }}
    			<p>Please enter valid Email Address</p>     
			</div> <!-- end of form-right-block -->
        </div> <!-- end of form block -->

        <div class="form-block">
    		<label for="">{{ Form::label('Change Password', 'password') }}<span class="required"></span></label>
      
  			<div class="form-right-block">
    			{{ Form::password('password', '', array('id' => 'password', 'placeholder' => 'Enter your new password')) }}
    			{{ if(isset($errors['password'])) }}
            <span class="msg error">{{ $errors['password'] }}</p>
          {{ endif }}
    			<p>Type your new password if you wants to change</p>     
			</div> <!-- end of form-right-block -->
        </div> <!-- end of form block -->

        <div class="form-block">
    		<label for="">{{ Form::label('Confirm Password', 'confpass') }}<span class="required"></span></label>
      
  			<div class="form-right-block">
    			{{ Form::password('confpass', '', array('id' => 'confpass', 'placeholder' => 'Type the same password again')) }}
    			<p>Confirm new password if you typed new password</p>     
			</div> <!-- end of form-right-block -->
        </div> <!-- end of form block -->

        <div class="form-block">
     		<label for="">{{ Form::label('Group', 'group') }}</label>
      
      		{= $data = array() =}		

			{{ loop($groups as $g) }}
				{= $data[$g->id] = $g->name =}
			{{ endloop }}
      		<div class="form-right-block">
        		{{ Form::select('group', $data, $group ) }}
     		</div> <!-- end of form-right-block -->       
   		</div> <!-- end of form block -->


      <div class="form-block">
        <label for="">{{ Form::label('Username', 'username') }}</label>
      
        <div class="form-right-block">
          {{ Form::input('username', $usermeta->username, 'text', array('id' => 'user-username', 'placeholder' => 'Enter your Username')) }}
          <p>Username must not include space, or special characters.</p>     
      </div> <!-- end of form-right-block -->

    </div> <!-- end of form block -->
    <div class="form-block">
        <label for="">{{ Form::label('Biography', 'biography') }}</label>      
        {{ Form::textarea('biography', $usermeta->biography, array('id' => 'user-biography')) }}
    </div> <!-- end of form block -->

    <div class="form-block">
        <label for="">{{ Form::label('Country', 'country') }}</label>
      
        <div class="form-right-block">
          {{ Form::input('country', $usermeta->country, 'text', array('id' => 'user-country')) }}  
        </div> <!-- end of form-right-block -->
    </div> <!-- end of form block -->

    <div class="form-block">
        <label for="">{{ Form::label('Website', 'website') }}</label>
      
        <div class="form-right-block">
          {{ Form::input('website', $usermeta->website, 'text', array('id' => 'user-website')) }}
          <p>Personal blog or webpage of this user</p> 
        </div> <!-- end of form-right-block -->
    </div> <!-- end of form block -->

    <div class="form-block">
        <label for="">{{ Form::label('Facebook', 'facebook') }}</label>
      
        <div class="form-right-block">
          {{ Form::input('facebook', $usermeta->facebook, 'text', array('id' => 'user-facebook')) }}
          <p>Enter this user's facebook username</p>     
        </div> <!-- end of form-right-block -->
    </div> <!-- end of form block -->

    <div class="form-block">
        <label for="">{{ Form::label('Twitter', 'twitter') }}</label>
      
        <div class="form-right-block">
          {{ Form::input('twitter', $usermeta->twitter, 'text', array('id' => 'user-twitter')) }}
          <p>Enter this user's twitter username</p>     
        </div> <!-- end of form-right-block -->
    </div> <!-- end of form block -->

    <div class="form-block ckeck-block">
          <label for="checkbox">{{ Form::label('Can access to Dashboard?', 'admin_access') }}</label>
          <div class="form-right-block clearfix">
            <label for="ckeckbox" class="inline-label">
              {{ if($adminAccess['dashboard']) }}
                {{ Form::checkbox('admin_access', 1, array('checked' => 'checked', 'id'=>'ckeckbox')) }}
              {{ else }}
                {{ Form::checkbox('admin_access', 1, array('id'=>'ckeckbox')) }}
              {{ endif }}
            </label>
        </div> <!-- end of form-right-block -->
    </div> <!-- end of form block -->
		

		<div class="block form-button">
		{{ Form::submit('submit', 'Edit', array('id' => 'edit', 'class' => 'button button-green')) }}
		<a href="{{ \Uri::create("$adminUrl/user/") }}" class="button button-red">Cancel</a>
		</div>

	{{ Form::end() }}
</div>
